<nav class="navbar menumain visible-xs mobile-menu">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Menu</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a title="Megashop" href="index.html" class="navbar-brand">
      <img alt="Megashop" src="assets/logo.png">
      </a>
   </div>
   <div class="navbar-collapse collapse navbar-left">
      <ul class="nav navbar-nav list-collections list-cate-banner">
         <li class="menu_lv1 item-sub-cat"><a href="index.html">
            Trang chủ</a>
         </li>
         <li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/gioi-thieu">
            Giới thiệu</a>
         </li>
         <li class="menu_lv1 item-sub-cat">
            <a href="https://megashop-1.bizwebvietnam.net/collections/all">
            Sản phẩm
            </a>
            <ul style="display:none">
               <li><a href="https://megashop-1.bizwebvietnam.net/phong-khach">Phòng khách</a></li>
               <li><a href="https://megashop-1.bizwebvietnam.net/phong-ngu">Phòng ngủ</a></li>
               <li><a href="https://megashop-1.bizwebvietnam.net/sofa">Sofa</a></li>
               <li><a href="https://megashop-1.bizwebvietnam.net/phong-bep">Phòng bếp</a></li>
               <li><a href="https://megashop-1.bizwebvietnam.net/phong-tre-em">Phòng trẻ em</a></li>
               <li><a href="https://megashop-1.bizwebvietnam.net/thiet-bi-bep">Thiết bị bếp</a></li>
               <li><a href="https://megashop-1.bizwebvietnam.net/thiet-bi-ve-sinh">Thiết bị vệ sinh</a></li>
               <li><a href="https://megashop-1.bizwebvietnam.net/do-trang-tri">Đồ trang trí</a></li>
               <li><a href="https://megashop-1.bizwebvietnam.net/phu-kien-bep">Phụ kiện bếp</a></li>
               <li><a href="https://megashop-1.bizwebvietnam.net/nha-thong-minh">Nhà thông minh</a></li>
            </ul>
         </li>
         <li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/thiet-ke-noi-that">
            Thiết kế nội thất</a>
         </li>
         <li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/tin-tuc">
            Tin tức</a>
         </li>
         <li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/lien-he">
            Liên hệ</a>
         </li>
      </ul>
   </div>
   <form action="https://megashop-1.bizwebvietnam.net/search" method="post" class="navbar-form navbar-search navbar-right hidden-md hidden-lg hidden-sm" id="search_mini_form" >
      <input  id="search" name="query" placeholder="Nhập thông tin cần tìm kiếm" class="search-query" maxlength="128" type="text">
      <button type="submit" class="btn icon-search"><i class="fa fa-search" aria-hidden="true"></i></button>
   </form>
</nav>
<div class="header hidden-xs">
   <div class=" container">
      <nav class="navbar menumain">
         <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Menu</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a title="Megashop" href="index.html" class="navbar-brand">
            <img alt="Megashop" src="assets/logo.png">
            </a>
         </div>
         <div class="navbar-collapse collapse navbar-left">
            <ul class="nav navbar-nav">
               <li class="active"><a href="index.html">Trang chủ</a></li>
               <li ><a href="https://megashop-1.bizwebvietnam.net/gioi-thieu">Giới thiệu</a></li>
               <li class="dropdown ">
                  <a href="https://megashop-1.bizwebvietnam.net/collections/all">Sản phẩm <i class="fa fa-caret-down pull-right" aria-hidden="true"></i></a>
                  <ul class="dropdown-menu sub1">
                     <div class="col-xs-12 col-sm-8">
                        <div class="row">
                           <li class=" col-xs-12 col-sm-6">
                              <a href="https://megashop-1.bizwebvietnam.net/phong-khach">Phòng khách</a>
                              <ul class="sub2">
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/ban-ghe-go">Bàn ghế gỗ</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/sofa-phong-khach">Sofa phòng khách</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/tu-de-giay">Tủ để giày</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/tu-ruou">Tủ rượu</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/vach-ngan">Vách ngăn</a>
                                 </li>
                              </ul>
                           </li>
                           <li class=" col-xs-12 col-sm-6">
                              <a href="https://megashop-1.bizwebvietnam.net/phong-ngu">Phòng ngủ</a>
                              <ul class="sub2">
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/giuong-ngu">Giường ngủ</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/ke-tivi">Kệ tivi</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/ban-trang-diem">Bàn trang điểm</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/ban-lam-viec">Bàn làm việc</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao">Tủ quần áo</a>
                                 </li>
                              </ul>
                           </li>
                           <li class=" col-xs-12 col-sm-6">
                              <a href="https://megashop-1.bizwebvietnam.net/sofa">Sofa</a>
                              <ul class="sub2">
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/sofa-da">Sofa da</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/sofa-cafe">Sofa cafe</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/sofa-giuong">Sofa giường</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/sofa-phong-khach-1">Sofa nghỉ</a>
                                 </li>
                              </ul>
                           </li>
                           <li class=" col-xs-12 col-sm-6">
                              <a href="https://megashop-1.bizwebvietnam.net/phong-bep">Phòng bếp</a>
                              <ul class="sub2">
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/tu-bep">Tủ bếp</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/ban-ghe-an">Bàn ghế ăn</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/quay-bar">Quầy bar</a>
                                 </li>
                                 <li >
                                    <a href="https://megashop-1.bizwebvietnam.net/phu-kien-bep">Phụ kiện bếp</a>
                                 </li>
                              </ul>
                           </li>
                           <li class=" col-xs-12 col-sm-6">
                              <a href="https://megashop-1.bizwebvietnam.net/phong-tre-em">Phòng trẻ em</a>
                           </li>
                           <li class=" col-xs-12 col-sm-6">
                              <a href="https://megashop-1.bizwebvietnam.net/thiet-bi-bep">Thiết bị bếp</a>
                           </li>
                           <li class=" col-xs-12 col-sm-6">
                              <a href="https://megashop-1.bizwebvietnam.net/thiet-bi-ve-sinh">Thiết bị vệ sinh</a>
                           </li>
                           <li class=" col-xs-12 col-sm-6">
                              <a href="https://megashop-1.bizwebvietnam.net/do-trang-tri">Đồ trang trí</a>
                           </li>
                           <li class=" col-xs-12 col-sm-6">
                              <a href="https://megashop-1.bizwebvietnam.net/phu-kien-bep">Phụ kiện bếp</a>
                           </li>
                           <li class=" col-xs-12 col-sm-6">
                              <a href="https://megashop-1.bizwebvietnam.net/nha-thong-minh">Nhà thông minh</a>
                           </li>
                        </div>
                     </div>
                     <div class="col-xs-12 col-sm-4 hidden-xs">
                        <div class="box-bestseller">
                           <div class="title_bestseller">
                              Sản phẩm nổi bật
                           </div>
                           <div class="body_bestseller">
                              <div class="bestseller_one">
                                 <a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao-hien-dai" title="Tủ quần áo hiện đại" class="bestseller_one_img">
                                 <img src="assets/small/8bga6dorkoto1zoom.jpg" alt="Tủ quần áo hiện đại"/>
                                 </a>
                                 <h3 class="bestseller_one_name">
                                    <a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao-hien-dai" title="Tủ quần áo hiện đại">
                                    Tủ quần áo hiện đại 
                                    </a>
                                 </h3>
                                 <div class="bizweb-product-reviews-badge" data-id="3450646"></div>
                                 <p class="bestseller_one_price">
                                    <span class="price-new">1.800.000₫</span> 
                                 </p>
                                 <div class="clearfix"></div>
                              </div>
                              <div class="bestseller_one">
                                 <a href="https://megashop-1.bizwebvietnam.net/den-trang-tri" title="Đèn trang trí" class="bestseller_one_img">
                                 <img src="assets/small/127078484912161.jpg" alt="Đèn trang trí"/>
                                 </a>
                                 <h3 class="bestseller_one_name">
                                    <a href="https://megashop-1.bizwebvietnam.net/den-trang-tri" title="Đèn trang trí">
                                    Đèn trang trí 
                                    </a>
                                 </h3>
                                 <div class="bizweb-product-reviews-badge" data-id="3451264"></div>
                                 <p class="bestseller_one_price">
                                    <span class="price-new">560.000₫</span> 
                                 </p>
                                 <div class="clearfix"></div>
                              </div>
                              <div class="bestseller_one">
                                 <a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao-co-dien-3-ngan" title="Tủ quần áo cổ điển,3 ngăn" class="bestseller_one_img">
                                 <img src="assets/small/wardrobe.jpg" alt="Tủ quần áo cổ điển,3 ngăn"/>
                                 </a>
                                 <h3 class="bestseller_one_name">
                                    <a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao-co-dien-3-ngan" title="Tủ quần áo cổ điển,3 ngăn">
                                    Tủ quần áo cổ điển,3 ngăn 
                                    </a>
                                 </h3>
                                 <div class="bizweb-product-reviews-badge" data-id="3450642"></div>
                                 <p class="bestseller_one_price">
                                    <span class="price-new">23.000.000₫</span> 
                                 </p>
                                 <div class="clearfix"></div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="clearfix"></div>
                  </ul>
               </li>
               <li ><a href="https://megashop-1.bizwebvietnam.net/thiet-ke-noi-that">Thiết kế nội thất</a></li>
               <li ><a href="https://megashop-1.bizwebvietnam.net/tin-tuc">Tin tức</a></li>
               <li ><a href="https://megashop-1.bizwebvietnam.net/lien-he">Liên hệ</a></li>
            </ul>
         </div>
         <!-- /.navbar-collapse -->
         <form action="https://megashop-1.bizwebvietnam.net/search" method="get" class="navbar-form navbar-search navbar-right hidden-xs" id="search_mini_form" >
            <input  id="search" name="query" placeholder="Nhập thông tin cần tìm kiếm tại đây" class="search-query" maxlength="128" type="text">
            <button type="submit" class="btn icon-search"><i class="fa fa-search" aria-hidden="true"></i></button>
         </form>
      </nav>
   </div>
</div>
<script>
   $(document).ready(function(){
    $(window).scroll(function(){
      if($(this).scrollTop() > 150){
        $('.header').addClass('fixmenu');
      } else{
        $('.header').removeClass('fixmenu');
      }
    })
   })
</script>
<style>
   nav.navbar.menumain.visible-xs.mobile-menu {
   margin: 0;
   padding: 11px 0;
   }
   nav.navbar.menumain.visible-xs.mobile-menu .navbar-toggle {
   margin: 5px 15px;
   border-radius: 0;
   border: 0;
   background: rgba(255, 255, 255, 0.48);
   }
   nav.navbar.menumain.visible-xs.mobile-menu .navbar-toggle span {
   background: #3ab54a;
   }
</style>
