<div class="so-slideshow">
   <div class="module sohomepage-slider ">
      <div class="modcontent">
         <div id="sohomepage-slider1">
            <div class="loader"></div>
            <div class="so-homeslider sohomeslider-inner-1">
               <div class="item ">
                  <a href="index.html#" title="Slider 1" target="_blank">
                  <img class="responsive" src="assets/slide1.jpg"  alt="Slider 1" />
                  </a>
               </div>
               <div class="item ">
                  <a href="index.html#" title="Slider 2" target="_blank">
                  <img class="responsive" src="assets/slide2.jpg"  alt="Slider 2" />
                  </a>
               </div>
               <div class="item ">
                  <a href="index.html#" title="Slider 3" target="_blank">
                  <img class="responsive" src="assets/slide3.jpg"  alt="Slider 3" />
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!--/.modcontent-->
   </div>
   <!--/.module-->
   <div class="clearfix"></div>
</div>