<div class="top-bar">
   <div class="container">
      <div class="row">
         <div class="col-xs-8 col-sm-8 hidden-xs">
            <div class="hotline_top">
               <img src="assets/icondienthoai.png"/>
               <b style="color:#fff;">Tư vấn 24/7:</b> (04) 6674 2332
            </div>
            <p class="diachi_header"><span>Địa chỉ:</span> 442 Đội Cấn, Ba Đình , Hà Nội</p>
         </div>
         <div class="col-xs-12 col-sm-4 text-right">
            <a class="iWishView" href="javascript:;" data-customer-id="0">Danh sách mong muốn</a>
            <div class="dropdown boxtaikhoan">
               <a href="index.html#" class="dropdown-toggle" data-toggle="dropdown">
               <i class="fa fa-user" aria-hidden="true"></i> Tài khoản <i class="fa fa-angle-down" aria-hidden="true"></i></a>
               <ul class="dropdown-menu">
                  <li><a href='https://megashop-1.bizwebvietnam.net/account/login' id='customer_login_link'>Đăng nhập</a></li>
                  <li> <a href='https://megashop-1.bizwebvietnam.net/account/register' id='customer_register_link'>Đăng ký</a></li>
               </ul>
            </div>
            <div class="mini-cart dropdown box-cart cart hidden-xs">
               <a href="https://megashop-1.bizwebvietnam.net/cart" class="dropdown-toggle basket" data-toggle="dropdown" data-hover="dropdown">
               <img src="assets/icon_minicart.png"/> Giỏ hàng
               <span id="cart-total">0</span>
               </a>
               <div class="top-cart-content arrow_box cart-info dropdown-menu" id="cart-info">
               </div>
            </div>
         </div>
      </div>
   </div>
</div>