<!DOCTYPE html>
<html lang="vi">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="robots" content="noodp,index,follow">
		<meta name="keywords" content="">
		<title>
			Giới thiệu
		</title>

		
		<meta name="description" content="Đ&#226;y l&#224; trang giới thiệu.">
		
		
<meta property="og:type" content="website">
<meta property="og:title" content="Giới thiệu">
<meta property="og:image" content="http://bizweb.dktcdn.net/100/109/381/themes/161997/assets/logo.png?1481277731686">
<meta property="og:image:secure_url" content="https://bizweb.dktcdn.net/100/109/381/themes/161997/assets/logo.png?1481277731686">


<meta property="og:description" content="Đ&#226;y l&#224; trang giới thiệu.">

<meta property="og:url" content="https://megashop-1.bizwebvietnam.net/gioi-thieu">
<meta property="og:site_name" content="Megashop">
<link rel="canonical" href="gioi-thieu.html">
		<!-- Favicon -->
		<link rel="shortcut icon" href="assets/favicon.png" type="image/x-icon">

<script>
(function() {
function asyncLoad() {
var urls = ["https://productquickview.bizwebapps.vn/ScriptTags/productquickview.js?store=megashop-1.bizwebvietnam.net","//productreviews.bizwebapps.vn/assets/js/productreviews.min.js?store=megashop-1.bizwebvietnam.net"];
for (var i = 0; i < urls.length; i++) {
var s = document.createElement('script');
s.type = 'text/javascript';
s.async = true;
s.src = urls[i];
s.src = urls[i];
var x = document.getElementsByTagName('script')[0];
x.parentNode.insertBefore(s, x);
}
}
window.attachEvent ? window.attachEvent('onload', asyncLoad) : window.addEventListener('load', asyncLoad, false);
})();
</script>

<script type='text/javascript'>
(function() {
var log = document.createElement('script'); log.type = 'text/javascript'; log.async = true;
log.src = '//stats.bizweb.vn/delivery/109381.js?lang=vi';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(log, s);
})();
</script>

<!-- Google Tag Manager -->
<noscript>
<iframe src='../www.googletagmanager.com/ns.html%3Fid=GTM-MS77Z9.html' height='0' width='0' style='display:none;visibility:hidden'></iframe>
</noscript>
<script>
(function (w, d, s, l, i) {
w[l] = w[l] || []; w[l].push({
'gtm.start':
new Date().getTime(), event: 'gtm.js'
}); var f = d.getElementsByTagName(s)[0],
j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
'//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
})(window, document, 'script', 'dataLayer', 'GTM-MS77Z9');
</script>
<!-- End Google Tag Manager -->




		
	</head>
	<body id="gioi-thieu" class="">
		<div class="page-container">
			<div class="top-bar">
	<div class="container">
		<div class="row">
			<div class="col-xs-8 col-sm-8 hidden-xs">
				
				<div class="hotline_top">
					<img src="assets/icondienthoai.png"/>
					<b style="color:#fff;">Tư vấn 24/7:</b> (04) 6674 2332
				</div>
				
				<p class="diachi_header"><span>Địa chỉ:</span> 442 Đội Cấn, Ba Đình , Hà Nội</p>
			</div>
			<div class="col-xs-12 col-sm-4 text-right">
				
<a class="iWishView" href="javascript:;" data-customer-id="0">Danh sách mong muốn</a>

				<div class="dropdown boxtaikhoan">
					<a href="gioi-thieu.html#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-user" aria-hidden="true"></i> Tài khoản <i class="fa fa-angle-down" aria-hidden="true"></i></a>
					<ul class="dropdown-menu">
						
						<li><a href='https://megashop-1.bizwebvietnam.net/account/login' id='customer_login_link'>Đăng nhập</a></li>
						
						<li> <a href='https://megashop-1.bizwebvietnam.net/account/register' id='customer_register_link'>Đăng ký</a></li>
						
						
					</ul>
				</div>
				<div class="mini-cart dropdown box-cart cart hidden-xs">
					<a href="https://megashop-1.bizwebvietnam.net/cart" class="dropdown-toggle basket" data-toggle="dropdown" data-hover="dropdown">
						<img src="assets/icon_minicart.png"/> Giỏ hàng
						<span id="cart-total">0</span>
					</a>
					<div class="top-cart-content arrow_box cart-info dropdown-menu" id="cart-info">
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<nav class="navbar menumain visible-xs mobile-menu">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Menu</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a title="Megashop" href="https://megashop-1.bizwebvietnam.net/" class="navbar-brand">
			
			<img alt="Megashop" src="assets/logo.png">
			
		</a>
	</div>
	<div class="navbar-collapse collapse navbar-left">
		<ul class="nav navbar-nav list-collections list-cate-banner">
			
			
			<li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/">
				Trang chủ</a>
			</li>
			
			
			
			<li class="menu_lv1 item-sub-cat"><a href="gioi-thieu.html">
				Giới thiệu</a>
			</li>
			
			
			
			<li class="menu_lv1 item-sub-cat">
				<a href="https://megashop-1.bizwebvietnam.net/collections/all">
					Sản phẩm
				</a>
				<ul style="display:none">
					
					<li><a href="https://megashop-1.bizwebvietnam.net/phong-khach">Phòng khách</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/phong-ngu">Phòng ngủ</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/sofa">Sofa</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/phong-bep">Phòng bếp</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/phong-tre-em">Phòng trẻ em</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/thiet-bi-bep">Thiết bị bếp</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/thiet-bi-ve-sinh">Thiết bị vệ sinh</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/do-trang-tri">Đồ trang trí</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/phu-kien-bep">Phụ kiện bếp</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/nha-thong-minh">Nhà thông minh</a></li>
					
				</ul>
			</li>
			
			
			
			<li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/thiet-ke-noi-that">
				Thiết kế nội thất</a>
			</li>
			
			
			
			<li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/tin-tuc">
				Tin tức</a>
			</li>
			
			
			
			<li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/lien-he">
				Liên hệ</a>
			</li>
			
			
		</ul>
	</div>
	
	<form action="https://megashop-1.bizwebvietnam.net/search" method="post" class="navbar-form navbar-search navbar-right hidden-md hidden-lg hidden-sm" id="search_mini_form" >

				<input  id="search" name="query" placeholder="Nhập thông tin cần tìm kiếm" class="search-query" maxlength="128" type="text">
				<button type="submit" class="btn icon-search"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
</nav>
<div class="header hidden-xs">
	<div class=" container">
		<nav class="navbar menumain">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Menu</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a title="Megashop" href="https://megashop-1.bizwebvietnam.net/" class="navbar-brand">
					
					<img alt="Megashop" src="assets/logo.png">
					
				</a>
			</div>
			<div class="navbar-collapse collapse navbar-left">
				<ul class="nav navbar-nav">
					
					
					<li ><a href="https://megashop-1.bizwebvietnam.net/">Trang chủ</a></li>
					
					
					
					<li class="active"><a href="gioi-thieu.html">Giới thiệu</a></li>
					
					
					
					<li class="dropdown "><a href="https://megashop-1.bizwebvietnam.net/collections/all">Sản phẩm <i class="fa fa-caret-down pull-right" aria-hidden="true"></i></a>
						<ul class="dropdown-menu sub1">
							<div class="col-xs-12 col-sm-8">
								<div class="row">
									
									
									<li class=" col-xs-12 col-sm-6">
										<a href="https://megashop-1.bizwebvietnam.net/phong-khach">Phòng khách</a>
										<ul class="sub2">
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/ban-ghe-go">Bàn ghế gỗ</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/sofa-phong-khach">Sofa phòng khách</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/tu-de-giay">Tủ để giày</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/tu-ruou">Tủ rượu</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/vach-ngan">Vách ngăn</a>
											</li>
											
										</ul>
									</li>
									
									
									
									<li class=" col-xs-12 col-sm-6">
										<a href="https://megashop-1.bizwebvietnam.net/phong-ngu">Phòng ngủ</a>
										<ul class="sub2">
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/giuong-ngu">Giường ngủ</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/ke-tivi">Kệ tivi</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/ban-trang-diem">Bàn trang điểm</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/ban-lam-viec">Bàn làm việc</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao">Tủ quần áo</a>
											</li>
											
										</ul>
									</li>
									
									
									
									<li class=" col-xs-12 col-sm-6">
										<a href="https://megashop-1.bizwebvietnam.net/sofa">Sofa</a>
										<ul class="sub2">
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/sofa-da">Sofa da</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/sofa-cafe">Sofa cafe</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/sofa-giuong">Sofa giường</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/sofa-phong-khach-1">Sofa nghỉ</a>
											</li>
											
										</ul>
									</li>
									
									
									
									<li class=" col-xs-12 col-sm-6">
										<a href="https://megashop-1.bizwebvietnam.net/phong-bep">Phòng bếp</a>
										<ul class="sub2">
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/tu-bep">Tủ bếp</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/ban-ghe-an">Bàn ghế ăn</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/quay-bar">Quầy bar</a>
											</li>
											
											<li >
												<a href="https://megashop-1.bizwebvietnam.net/phu-kien-bep">Phụ kiện bếp</a>
											</li>
											
										</ul>
									</li>
									
									
									
									<li class=" col-xs-12 col-sm-6">
										<a href="https://megashop-1.bizwebvietnam.net/phong-tre-em">Phòng trẻ em</a>
									</li>
									
									
									
									<li class=" col-xs-12 col-sm-6">
										<a href="https://megashop-1.bizwebvietnam.net/thiet-bi-bep">Thiết bị bếp</a>
									</li>
									
									
									
									<li class=" col-xs-12 col-sm-6">
										<a href="https://megashop-1.bizwebvietnam.net/thiet-bi-ve-sinh">Thiết bị vệ sinh</a>
									</li>
									
									
									
									<li class=" col-xs-12 col-sm-6">
										<a href="https://megashop-1.bizwebvietnam.net/do-trang-tri">Đồ trang trí</a>
									</li>
									
									
									
									<li class=" col-xs-12 col-sm-6">
										<a href="https://megashop-1.bizwebvietnam.net/phu-kien-bep">Phụ kiện bếp</a>
									</li>
									
									
									
									<li class=" col-xs-12 col-sm-6">
										<a href="https://megashop-1.bizwebvietnam.net/nha-thong-minh">Nhà thông minh</a>
									</li>
									
									
								</div>
							</div>
							<div class="col-xs-12 col-sm-4 hidden-xs">
								<div class="box-bestseller">
									<div class="title_bestseller">
										Sản phẩm nổi bật
									</div>
									<div class="body_bestseller">
										
										<div class="bestseller_one">
											<a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao-hien-dai" title="Tủ quần áo hiện đại" class="bestseller_one_img">
												<img src="../bizweb.dktcdn.net/thumb/small/100/109/381/products/8bga6dorkoto1zoom.jpg%3Fv=1469632683513" alt="Tủ quần áo hiện đại"/>
											</a>
											<h3 class="bestseller_one_name">
												<a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao-hien-dai" title="Tủ quần áo hiện đại">
													Tủ quần áo hiện đại	
												</a>
											</h3>
											<div class="bizweb-product-reviews-badge" data-id="3450646"></div>
											<p class="bestseller_one_price">
												
												<span class="price-new">1.800.000₫</span> 
												
											</p>
											<div class="clearfix"></div>
										</div>
										
										<div class="bestseller_one">
											<a href="https://megashop-1.bizwebvietnam.net/den-trang-tri" title="Đèn trang trí" class="bestseller_one_img">
												<img src="../bizweb.dktcdn.net/thumb/small/100/109/381/products/127078484912161.jpg%3Fv=1469638431300" alt="Đèn trang trí"/>
											</a>
											<h3 class="bestseller_one_name">
												<a href="https://megashop-1.bizwebvietnam.net/den-trang-tri" title="Đèn trang trí">
													Đèn trang trí	
												</a>
											</h3>
											<div class="bizweb-product-reviews-badge" data-id="3451264"></div>
											<p class="bestseller_one_price">
												
												<span class="price-new">560.000₫</span> 
												
											</p>
											<div class="clearfix"></div>
										</div>
										
										<div class="bestseller_one">
											<a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao-co-dien-3-ngan" title="Tủ quần áo cổ điển,3 ngăn" class="bestseller_one_img">
												<img src="../bizweb.dktcdn.net/thumb/small/100/109/381/products/wardrobe.jpg%3Fv=1469632680977" alt="Tủ quần áo cổ điển,3 ngăn"/>
											</a>
											<h3 class="bestseller_one_name">
												<a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao-co-dien-3-ngan" title="Tủ quần áo cổ điển,3 ngăn">
													Tủ quần áo cổ điển,3 ngăn	
												</a>
											</h3>
											<div class="bizweb-product-reviews-badge" data-id="3450642"></div>
											<p class="bestseller_one_price">
												
												<span class="price-new">23.000.000₫</span> 
												
											</p>
											<div class="clearfix"></div>
										</div>
										
									</div>
								</div>
							</div>
							<div class="clearfix"></div>

						</ul>
					</li>
					
					
					
					<li ><a href="https://megashop-1.bizwebvietnam.net/thiet-ke-noi-that">Thiết kế nội thất</a></li>
					
					
					
					<li ><a href="https://megashop-1.bizwebvietnam.net/tin-tuc">Tin tức</a></li>
					
					
					
					<li ><a href="https://megashop-1.bizwebvietnam.net/lien-he">Liên hệ</a></li>
					
					
				</ul>
			</div><!-- /.navbar-collapse -->
			<form action="https://megashop-1.bizwebvietnam.net/search" method="get" class="navbar-form navbar-search navbar-right hidden-xs" id="search_mini_form" >

				<input  id="search" name="query" placeholder="Nhập thông tin cần tìm kiếm tại đây" class="search-query" maxlength="128" type="text">
				<button type="submit" class="btn icon-search"><i class="fa fa-search" aria-hidden="true"></i></button>
			</form>
			
			
		</nav>
	</div>
</div>
<script>
	$(document).ready(function(){
		$(window).scroll(function(){
			if($(this).scrollTop() > 150){
				$('.header').addClass('fixmenu');
			} else{
				$('.header').removeClass('fixmenu');
			}
		})
	})
</script>
<style>
	nav.navbar.menumain.visible-xs.mobile-menu {
		margin: 0;
		padding: 11px 0;
	}
	nav.navbar.menumain.visible-xs.mobile-menu .navbar-toggle {
		margin: 5px 15px;
		border-radius: 0;
		border: 0;
		background: rgba(255, 255, 255, 0.48);
	}
	nav.navbar.menumain.visible-xs.mobile-menu .navbar-toggle span {
		background: #3ab54a;
	}
</style>
			<section style="background:#fff">
	<div class="container">
		<div class="breadcrumbs">
			<ul class="breadcrumb">
				<li><a href="https://megashop-1.bizwebvietnam.net/"><i class="fa fa-home" aria-hidden="true"></i> Trang chủ</a> <span class="divider"></span></li>
				
				<li class="active">Giới thiệu</li>
				
			</ul>
		</div>
	</div>
</section>
<div class="container">
<div class="row">
	<div class="col-md-12">
		<div class="cat_header">
			<h2 class="page_title">Giới thiệu</h2>
		</div>
	</div>
</div>
<div class="col-md-12">
	<div class="row content-page">
		<div class="box padding">
			<h1>"Luôn đem đến giá trị đích thực cho ngôi nhà của bạn"</h1>

<p>Là phương châm hoạt động của Megashop - đến với chúng tôi, bạn sẽ cảm thấy thật sự hài lòng khi được phục vụ bởi đội ngũ Kiến trúc sư - Họa sĩ xuất sắc giàu kinh nghiệm trong lĩnh vực tư vấn thiết kế kiến trúc và nội thất. Sao Việt chuyên thiết kế và thi công nội ngoại thất: thiết kế nội thất chung cư, biệt thự, nhà lô phố, nhà hàng, khách sạn, nội thất văn phòng, showroom, quán Cafe,...Với các không gian được thiết kế tuân thủ nghiêm ngặt theo quy luật phong thủy...</p>

<p><img src="/assets/khach1.jpg" /></p>

<p>Ngoài ra Megashop&nbsp;còn đảm nhận tư vấn thiết kế &amp; thi công sân vườn, tiểu cảnh với sự giúp đỡ của nhiều chuyên gia trong lĩnh vực này nhằm giúp công trình của khách hàng trở lên hoàn hảo nhất.</p>

<h2>YẾU TỐ CON NGƯỜI</h2>

<p>Sự thành công của một doanh nghiệp bất kỳ phụ thuộc vào yếu tố con người và cách thức quản lý những con người ấy. Công ty Cổ Phần Kiến Trúc &amp; Nội Thất Sao Việt là một đơn vị đi đầu trong lĩnh vực thiết kế và thi công nội thất với những kinh nghiệm đã có qua các công trình thiết kế trên cả nước, Sao Việt có thể tự tin mang đến cho khách hàng những không gian sống đầy tiện nghi, hiện đại và sang trọng.<br />
Chúng tôi quyết định thực thi cam kết:<br />
Về thiết kế : Cung cấp cho khách hàng các bản thiết kế chuyên nghiệp nhất,nhiều tính sáng tạo nhất và đặc biệt phù hợp với yêu cầu của gia chủ.<br />
Về thi công : Chất lượng công trình phải được đảm bảo hàng đầu, đúng tiến độ bàn giao trong hợp đồng. Phối hợp nhuần nhuyễn với gia chủ để giảm phát sinh ở mức thấp nhất có thể.<br />
Về sản xuất đồ gỗ : luôn đảm bảo nguyên liệu đúng chủng loại đã thống nhất với khách hàng,đường nét sản phẩm tinh tế.</p>

<h2>VAI TRÒ NGƯỜI LÃNH ĐẠO</h2>

<p>Sự thành công của Sao Việt ngày nay là nhờ vào sự tin tưởng của khách hàng đã dành cho công ty. Chính vì vậy, ban lãnh đạo của công ty luôn sẵn sàng đứng ra đảm bảo quyền lợi cho khách hàng, chịu trách nhiệm với khách hàng trong mọi trường hợp mà khách hàng không hài lòng, luôn tiếp thu ý kiến của khách hàng để ngày càng củng cố, hoàn thiện bộ máy hoạt động của công ty.</p>

<p>Hãy để chúng tôi thiết kế và thi công để tạo nên một không gian sống hiện đại và đầy tiện nghi cho gia đình bạn. Những ý tưởng mà bạn đang ấp ủ về một không gian theo phong cách cá tính của riêng mình, hãy để Sao Việt biến ý tưởng đó của bạn trở thành hiện thực. Sự hài lòng và tin tưởng về một không gian sống mà Sao Việt đã mang đến cho khách chính là nguồn lực vô cùng lớn để tạo nên sự thành công như ngày hôm này của công ty.<br />
Xin chân thành cảm ơn !!!</p>
		</div>
	</div>
</div>
</div>
			<link href='assets/bpr-products-module.css' rel='stylesheet' type='text/css' />
<div class="bizweb-product-reviews-module"></div>
			<style>
	.contact-info .shop-name .icon {
		float: left;
		height: 45px;
		width: 35px;
		background: url(assets/icon_shop.png) no-repeat 0px 0px/35px;
		margin-right: 9px;
		margin-top: 5px;
	}
</style>
<div class="footertop">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6 social-box">
				<span>FOLLOW US</span>
				<ul class="social-block ">
					<li class="facebook"><a class="_blank" href="gioi-thieu.html#" target="_blank"><i class="fa fa-facebook"></i></a></li>
					<li class="twitter"><a class="_blank" href="gioi-thieu.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
					<li class="rss"><a class="_blank" href="gioi-thieu.html#" target="_blank"><i class="fa fa-rss"></i></a></li>
					<li class="google_plus"><a class="_blank" href="gioi-thieu.html#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
					<li class="pinterest"><a class="_blank" href="gioi-thieu.html#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6">
				<ul class="list-ft">
					
					<li class="col-xs-6"><a href="https://megashop-1.bizwebvietnam.net/">Trang chủ</a></li>
					
					<li class="col-xs-6"><a href="gioi-thieu.html">Giới thiệu</a></li>
					
					<li class="col-xs-6"><a href="https://megashop-1.bizwebvietnam.net/collections/all">Sản phẩm</a></li>
					
					<li class="col-xs-6"><a href="https://megashop-1.bizwebvietnam.net/thiet-ke-noi-that">Thiết kế nội thất</a></li>
					
					<li class="col-xs-6"><a href="https://megashop-1.bizwebvietnam.net/tin-tuc">Tin tức</a></li>
					
					<li class="col-xs-6"><a href="https://megashop-1.bizwebvietnam.net/lien-he">Liên hệ</a></li>
					
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-6 col-sm-6 col-md-3">
				<h3 class="title-f">Hỗ trợ</h3>
				<ul class="list-f">
					
					<li><a href="https://megashop-1.bizwebvietnam.net/search">Tìm kiếm</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/tu-van-thiet-ke-tu-van-thiet-ke">Tư vấn thiết kế</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/cham-soc-khach-hang">Chăm sóc khách hàng</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/kiem-tra-don-hang">Kiểm tra đơn hàng</a></li>
					
				</ul>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<h3 class="title-f">Hướng dẫn</h3>
				<ul class="list-f">
					
					<li><a href="https://megashop-1.bizwebvietnam.net/huong-dan-mua-hang">Hướng dẫn mua hàng</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/giao-nhan-va-thanh-toan">Giao nhận và thanh toán</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/doi-tra-va-bao-hanh">Đổi trả và bảo hành</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/dang-ki-thanh-vien">Đăng kí thành viên</a></li>
					
				</ul>
			</div>

			<div class="col-xs-6 col-sm-6 col-md-3">
				<h3 class="title-f">Chính sách</h3>
				<ul class="list-f">
					
					<li><a href="https://megashop-1.bizwebvietnam.net/chinh-sach-thanh-toan">Chính sách thanh toán</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/chinh-sach-van-chuyen">Chính sách vận chuyển</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/chinh-sach-doi-tra">Chính sách đổi trả</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/chinh-sach-bao-hanh">Chính sách bảo hành</a></li>
					
				</ul>
			</div>
			<div class="col-xs-6 col-sm-6 col-md-3">
				<h3 class="title-f">Tại sao chọn chúng tôi</h3>
				<ul class="list-f">
					
					<li><a href="https://megashop-1.bizwebvietnam.net/doi-ngu-chuyen-nghiep">Đội ngũ chuyên nghiệp</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/gia-ca-hop-ly">Giá cả hợp lý</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/kinh-nghiem-tren-20-nam">Kinh nghiệm trên 20 năm</a></li>
					
					<li><a href="https://megashop-1.bizwebvietnam.net/dam-bao-tien-do">Đảm bảo tiến độ</a></li>
					
				</ul>
			</div>

		</div>
	</div>
	<div class="copy text-center">
		© Bản quyền thuộc về Gold River | Cung cấp bởi <a href="https://www.bizweb.vn/?utm_source=site-khach-hang&utm_campaign=referral_bizweb&utm_medium=footer&utm_content=cung-cap-boi-bizweb">Bizweb</a>					
	</div>
</div>
		</div>
		<link href='assets/owl.carousel.css.css' rel='stylesheet' type='text/css' />
<link href='assets/jgrowl.css.css' rel='stylesheet' type='text/css' />
<link href='../fonts.googleapis.com/css%3Ffamily=Poppins:400,700,500,600.css' rel='stylesheet' type='text/css'>



<script src='assets/jgrowl.js' type='text/javascript'></script>



<link href='assets/filecss.css.css' rel='stylesheet' type='text/css' />




<link href='assets/font-awesome.css.css' rel='stylesheet' type='text/css' />
<link href='assets/jquery.fancybox.css.css' rel='stylesheet' type='text/css' />
<script src='assets/jquery.fancybox.js' type='text/javascript'></script>

<script>
	var ProductReviewsAppUtil=ProductReviewsAppUtil || {};
</script>

<style>
	.page-container {
		background: #fff;
	}
</style>



<link href='assets/iwish.css.css' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="assets/bizweb-cff-quick-view.css.css">
<link rel="stylesheet" href="assets/bizweb-cff-jquery.fancybox.css.css">
		
<script>
	var iwish_template='page';
	var iwish_cid=parseInt('0',10);
</script>
<script src='assets/iwishheader.js' type='text/javascript'></script>

		<style>
	.cd-container {
		width: 90%;
		max-width: 768px;
		margin: 2em auto;
	}
	.cd-container::after {
		/* clearfix */
		content: '';
		display: table;
		clear: both;
	}
	.cd-top {
		display: inline-block;
		height: 40px;
		width: 40px;
		position: fixed;
		bottom: 40px;
		right: 10px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
		/* image replacement properties */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		background: rgb(246, 157, 110) url(assets/cd-top-arrow.svg) no-repeat center 50%;
		visibility: hidden;
		opacity: 0;
		-webkit-transition: opacity .3s 0s, visibility 0s .3s;
		-moz-transition: opacity .3s 0s, visibility 0s .3s;
		transition: opacity .3s 0s, visibility 0s .3s;
		z-index: 999;
	}
	.cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		-moz-transition: opacity .3s 0s, visibility 0s 0s;
		transition: opacity .3s 0s, visibility 0s 0s;
	}
	.cd-top.cd-is-visible {
		/* the button becomes visible */
		visibility: visible;
		opacity: 1;
	}
	.cd-top.cd-fade-out {
    opacity: .7;
    z-index: 99999;
}
	.no-touch .cd-top:hover {
		background-color: #e86256;
		opacity: 1;
	}
	@media only screen and (min-width: 768px) {
		.cd-top {
			right: 20px;
			bottom: 20px;
		}
	}
	@media only screen and (min-width: 1024px) {
		.cd-top {
			height: 60px;
			width: 60px;
			right: 30px;
			bottom: 30px;
		}
	}

</style>

<a href="gioi-thieu.html#0" class="cd-top">Top</a>
<script>
	jQuery(document).ready(function($){
		// browser window scroll (in pixels) after which the "back to top" link is shown
		var offset = 300,
			//browser window scroll (in pixels) after which the "back to top" link opacity is reduced
			offset_opacity = 1200,
			//duration of the top scrolling animation (in ms)
			scroll_top_duration = 700,
			//grab the "back to top" link
			$back_to_top = $('.cd-top');

		//hide or show the "back to top" link
		$(window).scroll(function(){
			( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
			if( $(this).scrollTop() > offset_opacity ) { 
				$back_to_top.addClass('cd-fade-out');
			}
		});

		//smooth scroll to top
		$back_to_top.on('click', function(event){
			event.preventDefault();
			$('body,html').animate({
				scrollTop: 0 ,
			}, scroll_top_duration
								  );
		});

	});
</script> <!-- Gem jQuery -->
		<script src='../bizweb.dktcdn.net/assets/themes_support/option-selectors.js%3F4' type='text/javascript'></script>
		<script src='assets/bootstrap.min.js' type='text/javascript'></script>
<script src='assets/api.jquery.js' type='text/javascript'></script>
<script src='assets/jquery.easing.1.3.js' type='text/javascript'></script>
<script src='assets/ajax-cart.js' type='text/javascript'></script>
<script type="text/javascript">
  Bizweb.updateCartFromForm = function(cart, cart_summary_id, cart_count_id) {
    if ((typeof cart_summary_id) === 'string') {
      var cart_summary = jQuery('#' + cart_summary_id);
      if (cart_summary.length) {
		  
        cart_summary.empty();
        
        jQuery.each(cart, function(key, value) {
          if (key === 'items') {
            
            if (value.length) {
              jQuery('<ul id="cart-sidebar" class="mini-products-list"></ul>').appendTo(cart_summary);
              var table = jQuery('#' + cart_summary_id + ' ul');

              jQuery.each(value, function(i, item) {						
                jQuery('<li class="cart_img"><a class="product-imgcart" href="https://megashop-1.bizwebvietnam.net/'&#32;+&#32;item.url&#32;+&#32;'" ><img src="https://megashop-1.bizwebvietnam.net/'&#32;+&#32;Bizweb.resizeImage(item.image,"small") + '" width="80"></a><div class="product-details"><p class="product-name"> <a href="https://megashop-1.bizwebvietnam.net/'&#32;+&#32;item.url&#32;+&#32;'">' + item.name + ' </a> </p><span class="soluong_cart">' + item.quantity + '</span><span class="price_cart">' + Bizweb.formatMoney(item.price, "{{amount_no_decimals_with_comma_separator}}₫") + '</span><a href="javascript:void(0);"  onClick="Bizweb.removeItem(' + item.variant_id + ')" class="fa fa-times">&nbsp;</a> </div><div class="clearfix"></div></li>').appendTo(table);
              });

              jQuery('<div class="top-subtotal">Tổng tiền: <span class="price_total_cart">' + Bizweb.formatMoney(cart.total_price, "{{amount_no_decimals_with_comma_separator}}₫") + '</span></div>').appendTo(cart_summary);
			  
			 jQuery('<div class="actions"><button onClick="window.location.href=\'/checkout\'" class="btn-checkout" type="button"><span>Thanh toán</span></button><button onClick="window.location.href=\'/cart\'" class="view-cart" type="button"><span>Giỏ hàng</span></button>').appendTo(cart_summary);
            }
			  
            else {
              jQuery('<div><br><center>Giỏ hàng của bạn hiện đang trống.</center><br></div>').appendTo(cart_summary);
            }
          }
        });
      }
    }
    if ((typeof cart_count_id) === 'string') {
      if (cart.item_count == 0) { 
        jQuery('#' + cart_count_id).html('0'); 
      }
      else if (cart.item_count == 1) {
        jQuery('#' + cart_count_id).html('1');
      }
        else {
          jQuery('#' + cart_count_id).html(cart.item_count);
        }
    }
    updateCartDesc(cart);
    jQuery('[name=currencies]').change();
  };
  
  function updateCartDesc(data){
    var $cartLinkText = $('#cart-total');    
    switch(data.item_count){
      case 0:
        $cartLinkText.text('0');
        break;
      case 1:
        $cartLinkText.text('1');
        break;
      default:
        $cartLinkText.text(data.item_count);
        break;
    }
  }
  Bizweb.onCartUpdate = function(cart) {
    Bizweb.updateCartFromForm(cart, 'cart-info', 'shopping-cart');
  };
  jQuery(document).ready(function($) {
    Bizweb.getCart(function(cart) {      
      Bizweb.updateCartFromForm(cart, 'cart-info');		
    });
  });
</script>



		
<script src='assets/iwish.js' type='text/javascript'></script>

		<div id="biz-qv-showqv" style="display: none !important;">  
 <div itemscope itemtype="http://schema.org/Product">


	<!--START PRODUCT-->
	 <div class="quick-view-container fancyox-view-detail">
	    <div id="biz-qv-left" class="biz-left">
            <div id="biz-qv-sale"  class="biz-qv-sale biz-qv-hidden">Sale</div>
			<!-- START ZOOM IMAGE-->
			 <div class="biz-qv-zoom-container">
                    <div class="zoomWrapper">
					  <div id="biz-qv-zoomcontainer" class='sqa-qv-zoomcontainer'>
                              <!-- Main image  ! DON'T PUT CONTENT HERE! -->     
                      </div>
                       
                    </div>
             </div>
			<!-- END ZOOM IMAGE-->
          
            <!-- START GALLERY-->
            <div id="biz-qv-galleryid" class="biz-qv-gallery" style="position: absolute; bottom: 10px;left: 6%;"> 
              		<!-- Collection of image ! DON'T PUT CONTENT HERE!-->
            </div>	
            <!-- END GALLERY-->
        </div>

		<!--START BUY-->
		<div id ="biz-qv-right" class="biz-right">
          	<!-- -------------------------- -->
			<div id="biz-qv-title" class="name-title" >
					<!-- Title of product ! DON'T PUT CONTENT HERE!-->
			</div>
			<!-- -------------------------- -->
			<div id ="biz-qv-price-container" class="biz-qv-price-container"  >
					<!-- price information of product ! DON'T PUT CONTENT HERE!-->
			</div>
			<!-- -------------------------- -->
			<div id="biz-qv-des" class="biz-qv-row">
					<!-- description of product ! DON'T PUT CONTENT HERE!-->
			</div>
			<!-- -------------------------- -->
			<div class="biz-qv-row">
				<a id="biz-qv-detail"  href="gioi-thieu.html" >  </a>
			</div>
		<!-- ----------------------------------------------------------------------- -->
            <div id='biz-qv-cartform'>
	          <form id="biz-qv-add-item-form"  method="post">     
                <!-- Begin product options ! DON'T PUT CONTENT HERE!-->
                <div class="biz-qv-product-options">
                  <!-- -------------------------- -->
                  <div id="biz-qv-variant-options" class="biz-qv-optionrow">
							<!-- variant options  of product  ! DON'T PUT CONTENT HERE!-->
		          </div>  
                  <!-- -------------------------- -->
                  <div class="biz-qv-optionrow">	    
                    <label>Số lượng</label>
          	        <input id="biz-qv-quantity" min="1" type="number" name="quantity" value="1"  />
                  </div>
				  <!-- -------------------------- -->
                  <div class="biz-qv-optionrow">
                     <p id="biz-qv-unavailable" class="biz-sold-out biz-qv-hidden">Không sẵn có</p>
                     <p id="biz-qv-sold-out" class="biz-sold-out biz-qv-hidden">Hết hàng</p>
                     <input type="submit" class="biz-qv-cartbtn biz-qv-hidden" value="Thêm vào giỏ hàng" />
                     
                  </div>
                  <!-- -------------------------- -->					
									
                </div>
               <!-- End product options -->
            </form>
         </div>

	   </div>
	   <!--END BUY-->
    </div>
	<!--END PRODUCT-->
 </div>
</div>
</body>
</html>