<body id="megashop" class="">
	<div class="page-container">
		<%= render partial: "components/top_bar"%>
		<%= render partial: "components/menu"%>
		<%= render partial: "components/slide"%>
		<%= render partial: "components/banner"%>
    <!--Banner-->
    <section class="box-collection1">
       <div class="container">
          <div class=" modcontent">
             <div class="header-title">
                <h3 class="modtitle"><span>Danh mục </span>&nbsp;<span>sản phẩm</span></h3>
             </div>
             <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3 hidden-xs">
                   <div class="box-colection">
                      <ul class="list-collections list-cate-banner">
                         <li class="menu_lv1 item-sub-cat">
                            <a href="https://megashop-1.bizwebvietnam.net/phong-khach">
                               <i class="fa fa-angle-double-right" aria-hidden="true"></i> Phòng khách
                               <!--<span>&nbsp;&nbsp;(9)&nbsp;</span>-->
                            </a>
                            <ul style="display:none">
                               <li><a href="https://megashop-1.bizwebvietnam.net/ban-ghe-go">Bàn ghế gỗ</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/sofa-phong-khach">Sofa phòng khách</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/tu-de-giay">Tủ để giày</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/tu-ruou">Tủ rượu</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/vach-ngan">Vách ngăn</a></li>
                            </ul>
                         </li>
                         <li class="menu_lv1 item-sub-cat">
                            <a href="https://megashop-1.bizwebvietnam.net/phong-ngu">
                               <i class="fa fa-angle-double-right" aria-hidden="true"></i> Phòng ngủ
                               <!--<span>&nbsp;&nbsp;(6)&nbsp;</span>-->
                            </a>
                            <ul style="display:none">
                               <li><a href="https://megashop-1.bizwebvietnam.net/giuong-ngu">Giường ngủ</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/ke-tivi">Kệ tivi</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/ban-trang-diem">Bàn trang điểm</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/ban-lam-viec">Bàn làm việc</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao">Tủ quần áo</a></li>
                            </ul>
                         </li>
                         <li class="menu_lv1 item-sub-cat">
                            <a href="https://megashop-1.bizwebvietnam.net/sofa">
                               <i class="fa fa-angle-double-right" aria-hidden="true"></i> Sofa
                               <!--<span>&nbsp;&nbsp;(4)&nbsp;</span>-->
                            </a>
                            <ul style="display:none">
                               <li><a href="https://megashop-1.bizwebvietnam.net/sofa-da">Sofa da</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/sofa-cafe">Sofa cafe</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/sofa-giuong">Sofa giường</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/sofa-phong-khach-1">Sofa nghỉ</a></li>
                            </ul>
                         </li>
                         <li class="menu_lv1 item-sub-cat">
                            <a href="https://megashop-1.bizwebvietnam.net/phong-bep">
                               <i class="fa fa-angle-double-right" aria-hidden="true"></i> Phòng bếp
                               <!--<span>&nbsp;&nbsp;(3)&nbsp;</span>-->
                            </a>
                            <ul style="display:none">
                               <li><a href="https://megashop-1.bizwebvietnam.net/tu-bep">Tủ bếp</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/ban-ghe-an">Bàn ghế ăn</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/quay-bar">Quầy bar</a></li>
                               <li><a href="https://megashop-1.bizwebvietnam.net/phu-kien-bep">Phụ kiện bếp</a></li>
                            </ul>
                         </li>
                         <li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/phong-tre-em"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Phòng trẻ em</a></li>
                         <li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/thiet-bi-bep"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Thiết bị bếp</a></li>
                         <li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/thiet-bi-ve-sinh"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Thiết bị vệ sinh</a></li>
                         <li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/do-trang-tri"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Đồ trang trí</a></li>
                         <li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/phu-kien-bep"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Phụ kiện bếp</a></li>
                         <li class="menu_lv1 item-sub-cat"><a href="https://megashop-1.bizwebvietnam.net/nha-thong-minh"><i class="fa fa-angle-double-right" aria-hidden="true"></i> Nhà thông minh</a></li>
                      </ul>
                   </div>
                   <div class="pre-text banner hidden-xs">
                      <a href="index.html#" title=" "><img src="assets/c1.jpg" alt="banner"></a>    			
                   </div>
                </div>
                <div class="col-md-9 col-sm-8 col-md-9 col-xs-12">
                   <div class="product-slider-1  product-thumb">
                      <div>
                         <div class="item">
                            <div class="item-inner transition">
                               <span class="label label-sale">- 90% </span>
                               <div class="image">
                                  <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/tu-quan-ao-hien-dai" target="_self" title="Tủ quần áo hiện đại">
                                  <img src="assets/thumb/medium/8bga6dorkoto1zoom.jpg" class="img-1" alt="Tủ quần áo hiện đại">
                                  <img src="assets/thumb/medium/tu-ao-dep-275.jpg" class="img-2" alt="Tủ quần áo hiện đại">
                                  </a>
                                  <div class="button-group">
                                     <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                        <input type="hidden" name="VariantId" value="5469610" /> 
                                        <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                                     </form>
                                  </div>
                                  <!-- /.button-group -->
                               </div>
                               <!-- /.image -->
                               <div class="caption">
                                  <h4>
                                     <a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao-hien-dai" title="Tủ quần áo hiện đại" target="_self">
                                     Tủ quần áo hiện đại								
                                     </a>
                                  </h4>
                                  <div class="bizweb-product-reviews-badge" data-id="3450646"></div>
                                  <p class="price">
                                     <span class="price-old">18.900.000₫</span> 
                                     <span class="price-new">1.800.000₫</span> 
                                  </p>
                               </div>
                            </div>
                            <!-- /.item-inner -->
                         </div>
                         <!-- /.item -->
                         <div class="item">
                            <div class="item-inner transition">
                               <div class="image">
                                  <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/den-trang-tri" target="_self" title="Đèn trang trí">
                                  <img src="assets/thumb/medium/127078484912161.jpg" class="img-1" alt="Đèn trang trí">
                                  <img src="assets/thumb/medium/67.jpg" class="img-2" alt="Đèn trang trí">
                                  </a>
                                  <div class="button-group">
                                     <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                        <input type="hidden" name="VariantId" value="5803360" /> 
                                        <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                                     </form>
                                  </div>
                                  <!-- /.button-group -->
                               </div>
                               <!-- /.image -->
                               <div class="caption">
                                  <h4>
                                     <a href="https://megashop-1.bizwebvietnam.net/den-trang-tri" title="Đèn trang trí" target="_self">
                                     Đèn trang trí								
                                     </a>
                                  </h4>
                                  <div class="bizweb-product-reviews-badge" data-id="3451264"></div>
                                  <p class="price">
                                     <span class="price-new">560.000₫</span> 
                                  </p>
                               </div>
                            </div>
                            <!-- /.item-inner -->
                         </div>
                         <!-- /.item -->
                      </div>
                      <div>
                         <div class="item">
                            <div class="item-inner transition">
                               <div class="image">
                                  <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/tu-quan-ao-co-dien-3-ngan" target="_self" title="Tủ quần áo cổ điển,3 ngăn">
                                  <img src="assets/thumb/medium/wardrobe.jpg" class="img-1" alt="Tủ quần áo cổ điển,3 ngăn">
                                  <img src="assets/thumb/medium/321.jpg" class="img-2" alt="Tủ quần áo cổ điển,3 ngăn">
                                  </a>
                                  <div class="button-group">
                                     <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                        <input type="hidden" name="VariantId" value="5469544" /> 
                                        <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                                     </form>
                                  </div>
                                  <!-- /.button-group -->
                               </div>
                               <!-- /.image -->
                               <div class="caption">
                                  <h4>
                                     <a href="https://megashop-1.bizwebvietnam.net/tu-quan-ao-co-dien-3-ngan" title="Tủ quần áo cổ điển,3 ngăn" target="_self">
                                     Tủ quần áo cổ điển,3 ngăn								
                                     </a>
                                  </h4>
                                  <div class="bizweb-product-reviews-badge" data-id="3450642"></div>
                                  <p class="price">
                                     <span class="price-new">23.000.000₫</span> 
                                  </p>
                               </div>
                            </div>
                            <!-- /.item-inner -->
                         </div>
                         <!-- /.item -->
                         <div class="item">
                            <div class="item-inner transition">
                               <div class="image">
                                  <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/voi-cam-ung-thong-minh-sh-f68" target="_self" title="Vòi cảm ứng thông minh SH-F68">
                                  <img src="assets/thumb/medium/voi-cam-ung-sh-f66-300x300.png" class="img-1" alt="Vòi cảm ứng thông minh SH-F68">
                                  <img src="assets/thumb/medium/voi-cam-ung-lavabo-sh-f68-750x750.png" class="img-2" alt="Vòi cảm ứng thông minh SH-F68">
                                  </a>
                                  <div class="button-group">
                                     <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                        <input type="hidden" name="VariantId" value="5484516" /> 
                                        <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                                     </form>
                                  </div>
                                  <!-- /.button-group -->
                               </div>
                               <!-- /.image -->
                               <div class="caption">
                                  <h4>
                                     <a href="https://megashop-1.bizwebvietnam.net/voi-cam-ung-thong-minh-sh-f68" title="Vòi cảm ứng thông minh SH-F68" target="_self">
                                     Vòi cảm ứng thông minh SH-F68								
                                     </a>
                                  </h4>
                                  <div class="bizweb-product-reviews-badge" data-id="3451479"></div>
                                  <p class="price">
                                     <span class="price-new">3.200.000₫</span> 
                                  </p>
                               </div>
                            </div>
                            <!-- /.item-inner -->
                         </div>
                         <!-- /.item -->
                      </div>
                      <div>
                         <div class="item">
                            <div class="item-inner transition">
                               <span class="label label-sale">- 91% </span>
                               <div class="image">
                                  <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/giuong-ngu-quy-toc" target="_self" title="Giường ngủ quý tộc">
                                  <img src="assets/thumb/medium/b40d03da620a0d2b6eb2d4bf3feb6802.jpg" class="img-1" alt="Giường ngủ quý tộc">
                                  <img src="assets/thumb/medium/g21.jpg" class="img-2" alt="Giường ngủ quý tộc">
                                  </a>
                                  <div class="button-group">
                                     <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                        <input type="hidden" name="VariantId" value="5469574" /> 
                                        <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                                     </form>
                                  </div>
                                  <!-- /.button-group -->
                               </div>
                               <!-- /.image -->
                               <div class="caption">
                                  <h4>
                                     <a href="https://megashop-1.bizwebvietnam.net/giuong-ngu-quy-toc" title="Giường ngủ quý tộc" target="_self">
                                     Giường ngủ quý tộc								
                                     </a>
                                  </h4>
                                  <div class="bizweb-product-reviews-badge" data-id="3450644"></div>
                                  <p class="price">
                                     <span class="price-old">12.300.000₫</span> 
                                     <span class="price-new">1.100.000₫</span> 
                                  </p>
                               </div>
                            </div>
                            <!-- /.item-inner -->
                         </div>
                         <!-- /.item -->
                         <div class="item">
                            <div class="item-inner transition">
                               <span class="label label-sale">- 9% </span>
                               <div class="image">
                                  <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/den-ban-phong-ngu" target="_self" title="Đèn bàn phòng ngủ">
                                  <img src="assets/thumb/medium/951-dt03.jpg" class="img-1" alt="Đèn bàn phòng ngủ">
                                  <img src="assets/thumb/medium/909-db18.jpg" class="img-2" alt="Đèn bàn phòng ngủ">
                                  </a>
                                  <div class="button-group">
                                     <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                        <input type="hidden" name="VariantId" value="5470562" /> 
                                        <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                                     </form>
                                  </div>
                                  <!-- /.button-group -->
                               </div>
                               <!-- /.image -->
                               <div class="caption">
                                  <h4>
                                     <a href="https://megashop-1.bizwebvietnam.net/den-ban-phong-ngu" title="Đèn bàn phòng ngủ" target="_self">
                                     Đèn bàn phòng ngủ								
                                     </a>
                                  </h4>
                                  <div class="bizweb-product-reviews-badge" data-id="3451314"></div>
                                  <p class="price">
                                     <span class="price-old">550.000₫</span> 
                                     <span class="price-new">500.000₫</span> 
                                  </p>
                               </div>
                            </div>
                            <!-- /.item-inner -->
                         </div>
                         <!-- /.item -->
                      </div>
                      <div>
                         <div class="item">
                            <div class="item-inner transition">
                               <div class="image">
                                  <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/sofa-ni-hong" target="_self" title="Sofa nỉ hồng">
                                  <img src="assets/thumb/medium/sofa02.jpg" class="img-1" alt="Sofa nỉ hồng">
                                  <img src="assets/thumb/medium/fg-a58df5e3-5e8c-41fd-b91b-a7bb4855c555.jpg" class="img-2" alt="Sofa nỉ hồng">
                                  </a>
                                  <div class="button-group">
                                     <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                        <input type="hidden" name="VariantId" value="5469355" /> 
                                        <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                                     </form>
                                  </div>
                                  <!-- /.button-group -->
                               </div>
                               <!-- /.image -->
                               <div class="caption">
                                  <h4>
                                     <a href="https://megashop-1.bizwebvietnam.net/sofa-ni-hong" title="Sofa nỉ hồng" target="_self">
                                     Sofa nỉ hồng								
                                     </a>
                                  </h4>
                                  <div class="bizweb-product-reviews-badge" data-id="3450635"></div>
                                  <p class="price">
                                     <span class="price-new">7.600.000₫</span> 
                                  </p>
                               </div>
                            </div>
                            <!-- /.item-inner -->
                         </div>
                         <!-- /.item -->
                         <div class="item">
                            <div class="item-inner transition">
                               <span class="label label-sale">- 20% </span>
                               <div class="image">
                                  <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/rem-cua" target="_self" title="Rèm cửa trang trí">
                                  <img src="assets/thumb/medium/rem-vai-59.jpg" class="img-1" alt="Rèm cửa trang trí">
                                  <img src="assets/thumb/medium/rem-vai-gia-re-02.jpg" class="img-2" alt="Rèm cửa trang trí">
                                  </a>
                                  <div class="button-group">
                                     <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                        <input type="hidden" name="VariantId" value="5470467" /> 
                                        <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                                     </form>
                                  </div>
                                  <!-- /.button-group -->
                               </div>
                               <!-- /.image -->
                               <div class="caption">
                                  <h4>
                                     <a href="https://megashop-1.bizwebvietnam.net/rem-cua" title="Rèm cửa trang trí" target="_self">
                                     Rèm cửa trang trí								
                                     </a>
                                  </h4>
                                  <div class="bizweb-product-reviews-badge" data-id="3451249"></div>
                                  <p class="price">
                                     <span class="price-old">7.000.000₫</span> 
                                     <span class="price-new">5.600.000₫</span> 
                                  </p>
                               </div>
                            </div>
                            <!-- /.item-inner -->
                         </div>
                         <!-- /.item -->
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </section>
      <section class="box-collection2">
         <div class="container">
            <div class="modcontent">
               <div class="header-title">
                  <h3 class="modtitle"><span>Thiết bị</span>&nbsp;<span>vệ sinh</span></h3>
               </div>
               <div class="product-slider-2  product-thumb">
                  <div class="item">
                     <div class="item-inner transition">
                        <div class="image">
                           <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/may-nuoc-nong-panasonic-dh-3jl4va-3-5-kw" target="_self" title="Máy nước nóng Panasonic DH-3JL4VA 3.5 kW">
                           <img src="assets/thumb/medium/nl03.jpg" class="img-1" alt="Máy nước nóng Panasonic DH-3JL4VA 3.5 kW">
                           <img src="assets/thumb/medium/nl04.jpg" class="img-2" alt="Máy nước nóng Panasonic DH-3JL4VA 3.5 kW">
                           </a>
                           <div class="button-group">
                              <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                 <input type="hidden" name="VariantId" value="5808019" /> 
                                 <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                              </form>
                           </div>
                           <!-- /.button-group -->
                        </div>
                        <!-- /.image -->
                        <div class="caption">
                           <h4>
                              <a href="https://megashop-1.bizwebvietnam.net/may-nuoc-nong-panasonic-dh-3jl4va-3-5-kw" title="Máy nước nóng Panasonic DH-3JL4VA 3.5 kW" target="_self">
                              Máy nước nóng Panasonic DH-3JL4VA 3.5 kW								
                              </a>
                           </h4>
                           <div class="bizweb-product-reviews-badge" data-id="3681551"></div>
                           <p class="price">
                              <span class="price-new">2.090.000₫</span> 
                           </p>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
                  <div class="item">
                     <div class="item-inner transition">
                        <div class="image">
                           <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/bon-tieu-nam-u-116v" target="_self" title="Bồn tiểu nam U-116V">
                           <img src="assets/thumb/medium/c1.jpg" class="img-1" alt="Bồn tiểu nam U-116V">
                           <img src="assets/thumb/medium/c2.jpg" class="img-2" alt="Bồn tiểu nam U-116V">
                           </a>
                           <div class="button-group">
                              <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                 <input type="hidden" name="VariantId" value="5807261" /> 
                                 <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                              </form>
                           </div>
                           <!-- /.button-group -->
                        </div>
                        <!-- /.image -->
                        <div class="caption">
                           <h4>
                              <a href="https://megashop-1.bizwebvietnam.net/bon-tieu-nam-u-116v" title="Bồn tiểu nam U-116V" target="_self">
                              Bồn tiểu nam U-116V								
                              </a>
                           </h4>
                           <div class="bizweb-product-reviews-badge" data-id="3680998"></div>
                           <p class="price">
                              <span class="price-new">3.000.000₫</span> 
                           </p>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
                  <div class="item">
                     <div class="item-inner transition">
                        <div class="image">
                           <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/bon-tam-toto" target="_self" title="Bồn tắm TOTO">
                           <img src="assets/thumb/medium/bt02.jpg" class="img-1" alt="Bồn tắm TOTO">
                           <img src="assets/thumb/medium/bt01.jpg" class="img-2" alt="Bồn tắm TOTO">
                           </a>
                           <div class="button-group">
                              <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                 <input type="hidden" name="VariantId" value="5807081" /> 
                                 <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                              </form>
                           </div>
                           <!-- /.button-group -->
                        </div>
                        <!-- /.image -->
                        <div class="caption">
                           <h4>
                              <a href="https://megashop-1.bizwebvietnam.net/bon-tam-toto" title="Bồn tắm TOTO" target="_self">
                              Bồn tắm TOTO								
                              </a>
                           </h4>
                           <div class="bizweb-product-reviews-badge" data-id="3680871"></div>
                           <p class="price">
                              <span class="price-new">12.000.000₫</span> 
                           </p>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
                  <div class="item">
                     <div class="item-inner transition">
                        <div class="image">
                           <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/ban-cau-treo-tuong-c-22pv" target="_self" title="Bàn cầu treo tường C-22PV">
                           <img src="assets/thumb/medium/014.jpg" class="img-1" alt="Bàn cầu treo tường C-22PV">
                           <img src="assets/thumb/medium/012.jpg" class="img-2" alt="Bàn cầu treo tường C-22PV">
                           </a>
                           <div class="button-group">
                              <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                 <input type="hidden" name="VariantId" value="5806874" /> 
                                 <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                              </form>
                           </div>
                           <!-- /.button-group -->
                        </div>
                        <!-- /.image -->
                        <div class="caption">
                           <h4>
                              <a href="https://megashop-1.bizwebvietnam.net/ban-cau-treo-tuong-c-22pv" title="Bàn cầu treo tường C-22PV" target="_self">
                              Bàn cầu treo tường C-22PV								
                              </a>
                           </h4>
                           <div class="bizweb-product-reviews-badge" data-id="3680687"></div>
                           <p class="price">
                              <span class="price-new">13.000.000₫</span> 
                           </p>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
                  <div class="item">
                     <div class="item-inner transition">
                        <div class="image">
                           <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/bon-cau-mot-khoi-inax-c-900vrn" target="_self" title="Bồn cầu một khối INAX C-900VRN">
                           <img src="assets/thumb/medium/sp03.jpg" class="img-1" alt="Bồn cầu một khối INAX C-900VRN">
                           <img src="assets/thumb/medium/sp01.jpg" class="img-2" alt="Bồn cầu một khối INAX C-900VRN">
                           </a>
                           <div class="button-group">
                              <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                 <input type="hidden" name="VariantId" value="5806529" /> 
                                 <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                              </form>
                           </div>
                           <!-- /.button-group -->
                        </div>
                        <!-- /.image -->
                        <div class="caption">
                           <h4>
                              <a href="https://megashop-1.bizwebvietnam.net/bon-cau-mot-khoi-inax-c-900vrn" title="Bồn cầu một khối INAX C-900VRN" target="_self">
                              Bồn cầu một khối INAX C-900VRN								
                              </a>
                           </h4>
                           <div class="bizweb-product-reviews-badge" data-id="3680391"></div>
                           <p class="price">
                              <span class="price-new">7.000.000₫</span> 
                           </p>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
               </div>
            </div>
         </div>
      </section>
      <section class="box-collection-hai">
         <div class="container">
            <div class="modcontent">
               <div class="header-title">
                  <h3 class="modtitle"><span>Thiết bị</span>&nbsp;<span>bếp</span></h3>
               </div>
               <div class="product-slider-2  product-thumb">
                  <div class="item">
                     <div class="item-inner transition">
                        <div class="image">
                           <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/lo-vi-song-sanyo-em-g2088v-ve3-20-lit" target="_self" title="Lò vi sóng Sanyo EM-G2088V(VE3) 20 lít">
                           <img src="assets/thumb/medium/chon-mua-loai-lo-vi-song-nao.jpg" class="img-1" alt="Lò vi sóng Sanyo EM-G2088V(VE3) 20 lít">
                           <img src="assets/thumb/medium/140966339303-31-2014-09-48-02em-g206aw-01-1.jpg" class="img-2" alt="Lò vi sóng Sanyo EM-G2088V(VE3) 20 lít">
                           </a>
                           <div class="button-group">
                              <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                 <input type="hidden" name="VariantId" value="5808805" /> 
                                 <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                              </form>
                           </div>
                           <!-- /.button-group -->
                        </div>
                        <!-- /.image -->
                        <div class="caption">
                           <h4>
                              <a href="https://megashop-1.bizwebvietnam.net/lo-vi-song-sanyo-em-g2088v-ve3-20-lit" title="Lò vi sóng Sanyo EM-G2088V(VE3) 20 lít" target="_self">
                              Lò vi sóng Sanyo EM-G2088V(VE3) 20 lít								
                              </a>
                           </h4>
                           <div class="bizweb-product-reviews-badge" data-id="3682139"></div>
                           <p class="price">
                              <span class="price-new">1.400.000₫</span> 
                           </p>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
                  <div class="item">
                     <div class="item-inner transition">
                        <div class="image">
                           <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/bep-ga-am-kinh-kaff-kf-321" target="_self" title="Bếp ga âm kính KAFF KF-321">
                           <img src="assets/thumb/medium/bep01.jpg" class="img-1" alt="Bếp ga âm kính KAFF KF-321">
                           <img src="assets/thumb/medium/bep02.jpg" class="img-2" alt="Bếp ga âm kính KAFF KF-321">
                           </a>
                           <div class="button-group">
                              <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                 <input type="hidden" name="VariantId" value="5808673" /> 
                                 <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                              </form>
                           </div>
                           <!-- /.button-group -->
                        </div>
                        <!-- /.image -->
                        <div class="caption">
                           <h4>
                              <a href="https://megashop-1.bizwebvietnam.net/bep-ga-am-kinh-kaff-kf-321" title="Bếp ga âm kính KAFF KF-321" target="_self">
                              Bếp ga âm kính KAFF KF-321								
                              </a>
                           </h4>
                           <div class="bizweb-product-reviews-badge" data-id="3682049"></div>
                           <p class="price">
                              <span class="price-new">3.176.000₫</span> 
                           </p>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
                  <div class="item">
                     <div class="item-inner transition">
                        <div class="image">
                           <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/may-hut-mui-giovani-g-70-prs" target="_self" title="Máy hút mùi Giovani G 70 PRS">
                           <img src="assets/thumb/medium/giovani.jpg" class="img-1" alt="Máy hút mùi Giovani G 70 PRS">
                           <img src="assets/thumb/medium/hm02-62870553-f09d-4072-a0c7-8f2bbe216881.jpg" class="img-2" alt="Máy hút mùi Giovani G 70 PRS">
                           </a>
                           <div class="button-group">
                              <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                 <input type="hidden" name="VariantId" value="5808538" /> 
                                 <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                              </form>
                           </div>
                           <!-- /.button-group -->
                        </div>
                        <!-- /.image -->
                        <div class="caption">
                           <h4>
                              <a href="https://megashop-1.bizwebvietnam.net/may-hut-mui-giovani-g-70-prs" title="Máy hút mùi Giovani G 70 PRS" target="_self">
                              Máy hút mùi Giovani G 70 PRS								
                              </a>
                           </h4>
                           <div class="bizweb-product-reviews-badge" data-id="3681937"></div>
                           <p class="price">
                              <span class="price-new">8.300.000₫</span> 
                           </p>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
                  <div class="item">
                     <div class="item-inner transition">
                        <div class="image">
                           <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/may-hut-mui-canzy-cz-3388-70-90" target="_self" title="Máy hút mùi Canzy CZ-3388-70/90">
                           <img src="assets/thumb/medium/hm01.jpg" class="img-1" alt="Máy hút mùi Canzy CZ-3388-70/90">
                           <img src="assets/thumb/medium/hm02.jpg" class="img-2" alt="Máy hút mùi Canzy CZ-3388-70/90">
                           </a>
                           <div class="button-group">
                              <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                 <input type="hidden" name="VariantId" value="5808476" /> 
                                 <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                              </form>
                           </div>
                           <!-- /.button-group -->
                        </div>
                        <!-- /.image -->
                        <div class="caption">
                           <h4>
                              <a href="https://megashop-1.bizwebvietnam.net/may-hut-mui-canzy-cz-3388-70-90" title="Máy hút mùi Canzy CZ-3388-70/90" target="_self">
                              Máy hút mùi Canzy CZ-3388-70/90								
                              </a>
                           </h4>
                           <div class="bizweb-product-reviews-badge" data-id="3681877"></div>
                           <p class="price">
                              <span class="price-new">6.000.000₫</span> 
                           </p>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
                  <div class="item">
                     <div class="item-inner transition">
                        <div class="image">
                           <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/ghe-go-ma-02" target="_self" title="Ghế gỗ mã 02">
                           <img src="assets/thumb/medium/woodenfurnituresale.jpg" class="img-1" alt="Ghế gỗ mã 02">
                           <img src="assets/thumb/medium/ghe-nha-hang-30.jpg" class="img-2" alt="Ghế gỗ mã 02">
                           </a>
                           <div class="button-group">
                              <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                 <input type="hidden" name="VariantId" value="5469382" /> 
                                 <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                              </form>
                           </div>
                           <!-- /.button-group -->
                        </div>
                        <!-- /.image -->
                        <div class="caption">
                           <h4>
                              <a href="https://megashop-1.bizwebvietnam.net/ghe-go-ma-02" title="Ghế gỗ mã 02" target="_self">
                              Ghế gỗ mã 02								
                              </a>
                           </h4>
                           <div class="bizweb-product-reviews-badge" data-id="3450636"></div>
                           <p class="price">
                              <span class="price-new">1.350.000₫</span> 
                           </p>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
                  <div class="item">
                     <div class="item-inner transition">
                        <div class="image">
                           <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/tu-de-giay-gac-cheo" target="_self" title="Tủ để giày gác chéo">
                           <img src="assets/thumb/medium/shoerackopen.jpg" class="img-1" alt="Tủ để giày gác chéo">
                           <img src="assets/thumb/medium/tu-giay-xoay-dung-cl.jpg" class="img-2" alt="Tủ để giày gác chéo">
                           </a>
                           <div class="button-group">
                              <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                 <input type="hidden" name="VariantId" value="5469322" /> 
                                 <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                              </form>
                           </div>
                           <!-- /.button-group -->
                        </div>
                        <!-- /.image -->
                        <div class="caption">
                           <h4>
                              <a href="https://megashop-1.bizwebvietnam.net/tu-de-giay-gac-cheo" title="Tủ để giày gác chéo" target="_self">
                              Tủ để giày gác chéo								
                              </a>
                           </h4>
                           <div class="bizweb-product-reviews-badge" data-id="3450631"></div>
                           <p class="price">
                              <span class="price-new">2.600.000₫</span> 
                           </p>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
               </div>
            </div>
         </div>
      </section>
      <div class="so-spotlight3">
         <div class="container">
            <div class="row">
               <div class="col-xs-12">
                  <script>
                     function subscribe()
                     {
                     	var emailpattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
                     	var email = $('#txtemail').val();
                     	if(email != "")
                     	{
                     		if(!emailpattern.test(email))
                     		{
                     			alert("Invalid Email");
                     			return false;
                     		}
                     		else
                     		{
                     			$.ajax({
                     				url: 'index.php?route=module/newsletters/news',
                     				type: 'post',
                     				data: 'email=' + $('#txtemail').val(),
                     				dataType: 'json',
                     				success: function(json) {
                     					alert(json.message);
                     				}
                     			});
                     			return false;
                     		}
                     	}
                     	else
                     	{
                     		alert("Email Is Require");
                     		$(email).focus();
                     		return false;
                     	}
                     }
                  </script>
                  <div class="newsletter">
                     <h2>Đăng ký nhận <span>tư vấn miễn phí</span></h2>
                     <p class="page-heading-sub" data-scroll-reveal="enter bottom and move 40px over 0.6s">
                        Bạn là khách hàng , lớn hay nhỏ, và muốn chúng tôi phục vụ ,
                        xin vui lòng gửi cho chúng tôi một <br> email để support@megashop.com
                     </p>
                     <div class="block_content">
                        <form method="post">
                           <div class="form-group required">
                              <input type="email" name="txtemail" id="txtemail" value="" placeholder="Nhập email ..." class="form-control input-lg"> 
                              <button type="submit" class="btn btn-default btn-lg" onclick="return subscribe();">Đăng ký</button>  
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <style>
         .so-spotlight3 {
         background: url(assets/newsletter-bg.jpg) no-repeat center center;
         }
      </style>
      <section class="box-collection3">
         <div class="container">
            <div class="modcontent">
               <div class="header-title">
                  <h3 class="modtitle"><span>Nhà</span>&nbsp;<span>thông minh</span></h3>
               </div>
               <div class="row">
                  <div class="col-md-3 col-sm-4 col-xs-12 hidden-xs">
                     <img src="assets/banne2.jpg"/>
                  </div>
                  <div class="col-md-9 col-sm-8 col-xs-12">
                     <div class="product-slider-3 product-thumb">
                        <div class="item">
                           <div class="item-inner transition">
                              <div class="image">
                                 <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/thiet-bi-bat-tat-den-thong-minh-sh-d2" target="_self" title="Thiết bị Bật tắt đèn thông minh SH-D2">
                                 <img src="assets/thumb/medium/thongminh.jpg" class="img-1" alt="Thiết bị Bật tắt đèn thông minh SH-D2">
                                 <img src="assets/thumb/medium/thongminh-copy.jpg" class="img-2" alt="Thiết bị Bật tắt đèn thông minh SH-D2">
                                 </a>
                                 <div class="button-group">
                                    <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                       <input type="hidden" name="VariantId" value="5484473" /> 
                                       <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                                    </form>
                                 </div>
                                 <!-- /.button-group -->
                              </div>
                              <!-- /.image -->
                              <div class="caption">
                                 <h4>
                                    <a href="https://megashop-1.bizwebvietnam.net/thiet-bi-bat-tat-den-thong-minh-sh-d2" title="Thiết bị Bật tắt đèn thông minh SH-D2" target="_self">
                                    Thiết bị Bật tắt đèn thông minh SH-D2								
                                    </a>
                                 </h4>
                                 <div class="bizweb-product-reviews-badge" data-id="3452553"></div>
                                 <p class="price">
                                    <span class="price-new">1.350.000₫</span> 
                                 </p>
                              </div>
                           </div>
                           <!-- /.item-inner -->
                        </div>
                        <!-- /.item -->
                        <div class="item">
                           <div class="item-inner transition">
                              <div class="image">
                                 <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/voi-cam-ung-thong-minh-sh-f68" target="_self" title="Vòi cảm ứng thông minh SH-F68">
                                 <img src="assets/thumb/medium/voi-cam-ung-sh-f66-300x300.png" class="img-1" alt="Vòi cảm ứng thông minh SH-F68">
                                 <img src="assets/thumb/medium/voi-cam-ung-lavabo-sh-f68-750x750.png" class="img-2" alt="Vòi cảm ứng thông minh SH-F68">
                                 </a>
                                 <div class="button-group">
                                    <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                       <input type="hidden" name="VariantId" value="5484516" /> 
                                       <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                                    </form>
                                 </div>
                                 <!-- /.button-group -->
                              </div>
                              <!-- /.image -->
                              <div class="caption">
                                 <h4>
                                    <a href="https://megashop-1.bizwebvietnam.net/voi-cam-ung-thong-minh-sh-f68" title="Vòi cảm ứng thông minh SH-F68" target="_self">
                                    Vòi cảm ứng thông minh SH-F68								
                                    </a>
                                 </h4>
                                 <div class="bizweb-product-reviews-badge" data-id="3451479"></div>
                                 <p class="price">
                                    <span class="price-new">3.200.000₫</span> 
                                 </p>
                              </div>
                           </div>
                           <!-- /.item-inner -->
                        </div>
                        <!-- /.item -->
                        <div class="item">
                           <div class="item-inner transition">
                              <div class="image">
                                 <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/cam-bien-chong-dot-nhap" target="_self" title="Cảm biến chống đột nhập">
                                 <img src="assets/thumb/medium/tm3.jpg" class="img-1" alt="Cảm biến chống đột nhập">
                                 <img src="assets/thumb/medium/tm.jpg" class="img-2" alt="Cảm biến chống đột nhập">
                                 </a>
                                 <div class="button-group">
                                    <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                       <input type="hidden" name="VariantId" value="5484556" /> 
                                       <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                                    </form>
                                 </div>
                                 <!-- /.button-group -->
                              </div>
                              <!-- /.image -->
                              <div class="caption">
                                 <h4>
                                    <a href="https://megashop-1.bizwebvietnam.net/cam-bien-chong-dot-nhap" title="Cảm biến chống đột nhập" target="_self">
                                    Cảm biến chống đột nhập								
                                    </a>
                                 </h4>
                                 <div class="bizweb-product-reviews-badge" data-id="3451477"></div>
                                 <p class="price">
                                    <span class="price-new">4.500.000₫</span> 
                                 </p>
                              </div>
                           </div>
                           <!-- /.item-inner -->
                        </div>
                        <!-- /.item -->
                        <div class="item">
                           <div class="item-inner transition">
                              <div class="image">
                                 <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/bo-dieu-khien-trung-tam" target="_self" title="Bộ điều khiển trung tâm">
                                 <img src="assets/thumb/medium/3t.jpg" class="img-1" alt="Bộ điều khiển trung tâm">
                                 <img src="assets/thumb/medium/2t.jpg" class="img-2" alt="Bộ điều khiển trung tâm">
                                 </a>
                                 <div class="button-group">
                                    <form action="https://megashop-1.bizwebvietnam.net/cart/add" method="post"  enctype="multipart/form-data" id="add-to-cart-form">
                                       <input type="hidden" name="VariantId" value="5484587" /> 
                                       <button type="submit" class="button btn-cart btn-add-to-cart btn_cart_qv" data-toggle="tooltip" title="Thêm vào giỏ hàng"><span><i class="fa fa-shopping-cart" aria-hidden="true"></i></span></button>
                                    </form>
                                 </div>
                                 <!-- /.button-group -->
                              </div>
                              <!-- /.image -->
                              <div class="caption">
                                 <h4>
                                    <a href="https://megashop-1.bizwebvietnam.net/bo-dieu-khien-trung-tam" title="Bộ điều khiển trung tâm" target="_self">
                                    Bộ điều khiển trung tâm								
                                    </a>
                                 </h4>
                                 <div class="bizweb-product-reviews-badge" data-id="3451452"></div>
                                 <p class="price">
                                    <span class="price-new">5.000.000₫</span> 
                                 </p>
                              </div>
                           </div>
                           <!-- /.item-inner -->
                        </div>
                        <!-- /.item -->
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="box-ykkk">
         <div class="container">
            <div class="product-slider-4 product-thumb">
               <div class="ykien1 text-center">
                  <div class="info_khach">
                     <img src="/assets/thumb/small/khachhang1.png" alt="Megashop"/>
                     <p class="tenkh">Nguyễn Trọng Hiếu</p>
                     <p class="chuvukh">Chung cư Timectiy</p>
                     <div class="clearfix"></div>
                  </div>
                  <div class="comment_khach">
                     Khi mua căn hộ mới , tôi đã liên hệ và tìm đơn vị thi công cùng cung cấp nội thất hỗ trợ. Thật may khi tìm được Megashop,các bạn làm việc nhiệt tình, sản phẩm cung cấp tôi rất ưng.
                  </div>
               </div>
               <div class="ykien1 text-center">
                  <div class="info_khach">
                     <img src="/assets/thumb/small/khachhang2.png" alt="Megashop"/>
                     <p class="tenkh">Nguyễn Văn Nguyễn</p>
                     <p class="chuvukh">Căn hộ tập thể Giảng Võ </p>
                     <div class="clearfix"></div>
                  </div>
                  <div class="comment_khach">
                     Khi chuyển đến căn hộ này tôi có nhu cầu thiết kế , chuyển đổi một số nội thất , tôi đã nhờ tới Megashop nhơ vậy tôi có một căn hộ xinh xắn nhưng đầy ắp tiện nghị.
                  </div>
               </div>
               <div class="ykien1 text-center">
                  <div class="info_khach">
                     <img src="/assets/thumb/small/khachhang3.png" alt="Megashop"/>
                     <p class="tenkh">Hoàng Thái Hậu</p>
                     <p class="chuvukh">Nhà liên cư cổ nhuế</p>
                     <div class="clearfix"></div>
                  </div>
                  <div class="comment_khach">
                     Việc bố trí từ tầng 1 lên tầng 5 nhà tôi mới mua như thế nào cho hợp lý khiến tôi thật sự lung túng. Megashop quá chuyên nghiệp từ khi tôi gặp gỡ và triển khai hoàn thiện, cảm ơn !
                  </div>
               </div>
               <div class="ykien1 text-center">
                  <div class="info_khach">
                     <img src="/assets/thumb/small/khachhang4.png" alt="Megashop"/>
                     <p class="tenkh">Chị Trâm</p>
                     <p class="chuvukh">Căn hộ cao cấp Royctity</p>
                     <div class="clearfix"></div>
                  </div>
                  <div class="comment_khach">
                     Chông tôi công tác nước ngoài, việc mua nội thất và sửa nhà anh giao lại hết cho tôi, cảm ơn sự chu đáo nhiệt tình của các bạn. Tôi rất hài lòng với sản phẩm các bạn cung cấp.
                  </div>
               </div>
            </div>
         </div>
      </section>
      <section class="box_blog">
         <div class="container">
            <div class="modcontent">
               <div class="header-title">
                  <h3 class="modtitle"><span>Tin</span>&nbsp;<span>Mới</span></h3>
               </div>
               <div class="product-slider-5 product-thumb">
                  <div class="item item-blog">
                     <div class="blog_item_inner transition">
                        <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/nguoi-dung-chuong-noi-that-sach-chuan-chau-au" target="_self" title="Người dùng chuộng nội thất sạch, chuẩn châu Âu">
                        <img src="assets/thumb/large/20160630150121-image007-5.jpg" alt="Người dùng chuộng nội thất sạch, chuẩn châu Âu">
                        </a>
                        <div class="thongtin">
                           <h4 class="blog_item_title">
                              <a href="https://megashop-1.bizwebvietnam.net/nguoi-dung-chuong-noi-that-sach-chuan-chau-au" title="Người dùng chuộng nội thất sạch, chuẩn châu Âu" target="_self">
                              Người dùng chuộng nội thất sạch, chuẩn châu Âu								
                              </a>
                           </h4>
                           <div class="blog_item_motangan">  Nội thất chuẩn châu Âu là một khái niệm được nhắc đến nhiều trong thời gian gần đây, khi nhu cầu về một không gian sống tiện nghi,...</div>
                           <a href="https://megashop-1.bizwebvietnam.net/nguoi-dung-chuong-noi-that-sach-chuan-chau-au" class="blog_itemt_link">Xem thêm</a>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
                  <div class="item item-blog">
                     <div class="blog_item_inner transition">
                        <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/phong-cach-hien-dai-trong-thiet-ke-noi-that-la-gi" target="_self" title="Phong cách hiện đại trong thiết kế nội thất là gì?">
                        <img src="assets/thumb/large/phong-cach-hien-dai.jpg" alt="Phong cách hiện đại trong thiết kế nội thất là gì?">
                        </a>
                        <div class="thongtin">
                           <h4 class="blog_item_title">
                              <a href="https://megashop-1.bizwebvietnam.net/phong-cach-hien-dai-trong-thiet-ke-noi-that-la-gi" title="Phong cách hiện đại trong thiết kế nội thất là gì?" target="_self">
                              Phong cách hiện đại trong thiết kế nội thất là gì?								
                              </a>
                           </h4>
                           <div class="blog_item_motangan"> Phong cách hiện đại là một thuật ngữ đã xuất hiện từ những thập niên 50 của thế kỉ 19 và ngày càng trở nên quen thuộc trong cuộc...</div>
                           <a href="https://megashop-1.bizwebvietnam.net/phong-cach-hien-dai-trong-thiet-ke-noi-that-la-gi" class="blog_itemt_link">Xem thêm</a>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
                  <div class="item item-blog">
                     <div class="blog_item_inner transition">
                        <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/khong-gian-song-xanh-giua-long-thu-do" target="_self" title="Không gian sống xanh giữa lòng thủ đô">
                        <img src="assets/thumb/large/s2.jpg" alt="Không gian sống xanh giữa lòng thủ đô">
                        </a>
                        <div class="thongtin">
                           <h4 class="blog_item_title">
                              <a href="https://megashop-1.bizwebvietnam.net/khong-gian-song-xanh-giua-long-thu-do" title="Không gian sống xanh giữa lòng thủ đô" target="_self">
                              Không gian sống xanh giữa lòng thủ đô								
                              </a>
                           </h4>
                           <div class="blog_item_motangan">  Vị trí thuận lợi cho việc đi lại, không gian sống xanh mát gần công viên Bách Thảo và hồ Tây là điều kiện lý tưởng cho nơi...</div>
                           <a href="https://megashop-1.bizwebvietnam.net/khong-gian-song-xanh-giua-long-thu-do" class="blog_itemt_link">Xem thêm</a>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
                  <div class="item item-blog">
                     <div class="blog_item_inner transition">
                        <a class="lt-image" href="https://megashop-1.bizwebvietnam.net/bai-viet-mau" target="_self" title="Hiệu quả không gian: đẳng cấp thiết kế nhà phố Camellia Garden">
                        <img src="assets/thumb/large/s2.jpg" alt="Hiệu quả không gian: đẳng cấp thiết kế nhà phố Camellia Garden">
                        </a>
                        <div class="thongtin">
                           <h4 class="blog_item_title">
                              <a href="https://megashop-1.bizwebvietnam.net/bai-viet-mau" title="Hiệu quả không gian: đẳng cấp thiết kế nhà phố Camellia Garden" target="_self">
                              Hiệu quả không gian: đẳng cấp thiết kế nhà phố Camellia Garden								
                              </a>
                           </h4>
                           <div class="blog_item_motangan"> Dự án nhà phố Camellia Garden mang đến gia chủ giải pháp thiết kế thông minh, khai thác công năng của các khu vực đến từng cm từ phòng...</div>
                           <a href="https://megashop-1.bizwebvietnam.net/bai-viet-mau" class="blog_itemt_link">Xem thêm</a>
                        </div>
                     </div>
                     <!-- /.item-inner -->
                  </div>
                  <!-- /.item -->
               </div>
               <div class="clearfix"></div>
            </div>
         </div>
      </section>
      <section class="box_doitac="assets
      <div class="container">
         <div class="modcontent">
            <div class="header-title" style="position:relative">
               <h3 class="modtitle"><span>Đối </span>&nbsp;<span>tác</span></h3>
               <!--<a href="/" class="pull-right moredoitac">Xem thêm</a>-->
               <div class="clearfix"></div>
            </div>
            <div class="doitac_ct">
               <div><img src="assets/doitac1.jpg"/></div>
               <div><img src="assets/doitac2.jpg"/></div>
               <div><img src="assets/doitac3.jpg"/></div>
               <div><img src="assets/doitac4.jpg"/></div>
               <div><img src="assets/doitac5.jpg"/></div>
               <div><img src="assets/doitac6.jpg"/></div>
               <div><img src="assets/doitac7.jpg"/></div>
               <div><img src="assets/doitac8.jpg"/></div>
               <div><img src="assets/doitac9.jpg"/></div>
               <div><img src="assets/doitac10.jpg"/></div>
            </div>
            <div class="clearfix"></div>
         </div>
      </div>
      </section>
      <!-- 			<link href='assets/bpr-products-module.css.css' rel='stylesheet' type='text/css' /> -->
      <div class="bizweb-product-reviews-module"></div>
      <style>
         .contact-info .shop-name .icon {
         float: left;
         height: 45px;
         width: 35px;
         background: url(assets/icon_shop.png) no-repeat 0px 0px/35px;
         margin-right: 9px;
         margin-top: 5px;
         }
      </style>
      <div class="footertop">
         <div class="container">
            <div class="row">
               <div class="col-xs-12 col-sm-6 social-box">
                  <span>FOLLOW US</span>
                  <ul class="social-block ">
                     <li class="facebook"><a class="_blank" href="index.html#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                     <li class="twitter"><a class="_blank" href="index.html#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                     <li class="rss"><a class="_blank" href="index.html#" target="_blank"><i class="fa fa-rss"></i></a></li>
                     <li class="google_plus"><a class="_blank" href="index.html#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                     <li class="pinterest"><a class="_blank" href="index.html#" target="_blank"><i class="fa fa-pinterest"></i></a></li>
                  </ul>
               </div>
               <div class="col-xs-12 col-sm-6">
                  <ul class="list-ft">
                     <li class="col-xs-6"><a href="index.html">Trang chủ</a></li>
                     <li class="col-xs-6"><a href="https://megashop-1.bizwebvietnam.net/gioi-thieu">Giới thiệu</a></li>
                     <li class="col-xs-6"><a href="https://megashop-1.bizwebvietnam.net/collections/all">Sản phẩm</a></li>
                     <li class="col-xs-6"><a href="https://megashop-1.bizwebvietnam.net/thiet-ke-noi-that">Thiết kế nội thất</a></li>
                     <li class="col-xs-6"><a href="https://megashop-1.bizwebvietnam.net/tin-tuc">Tin tức</a></li>
                     <li class="col-xs-6"><a href="https://megashop-1.bizwebvietnam.net/lien-he">Liên hệ</a></li>
                  </ul>
               </div>
            </div>
         </div>
      </div>
      <div class="footer">
         <div class="container">
            <div class="row">
               <div class="col-xs-6 col-sm-6 col-md-3">
                  <h3 class="title-f">Hỗ trợ</h3>
                  <ul class="list-f">
                     <li><a href="https://megashop-1.bizwebvietnam.net/search">Tìm kiếm</a></li>
                     <li><a href="https://megashop-1.bizwebvietnam.net/tu-van-thiet-ke-tu-van-thiet-ke">Tư vấn thiết kế</a></li>
                     <li><a href="https://megashop-1.bizwebvietnam.net/cham-soc-khach-hang">Chăm sóc khách hàng</a></li>
                     <li><a href="https://megashop-1.bizwebvietnam.net/kiem-tra-don-hang">Kiểm tra đơn hàng</a></li>
                  </ul>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3">
                  <h3 class="title-f">Hướng dẫn</h3>
                  <ul class="list-f">
                     <li><a href="https://megashop-1.bizwebvietnam.net/huong-dan-mua-hang">Hướng dẫn mua hàng</a></li>
                     <li><a href="https://megashop-1.bizwebvietnam.net/giao-nhan-va-thanh-toan">Giao nhận và thanh toán</a></li>
                     <li><a href="https://megashop-1.bizwebvietnam.net/doi-tra-va-bao-hanh">Đổi trả và bảo hành</a></li>
                     <li><a href="https://megashop-1.bizwebvietnam.net/dang-ki-thanh-vien">Đăng kí thành viên</a></li>
                  </ul>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3">
                  <h3 class="title-f">Chính sách</h3>
                  <ul class="list-f">
                     <li><a href="https://megashop-1.bizwebvietnam.net/chinh-sach-thanh-toan">Chính sách thanh toán</a></li>
                     <li><a href="https://megashop-1.bizwebvietnam.net/chinh-sach-van-chuyen">Chính sách vận chuyển</a></li>
                     <li><a href="https://megashop-1.bizwebvietnam.net/chinh-sach-doi-tra">Chính sách đổi trả</a></li>
                     <li><a href="https://megashop-1.bizwebvietnam.net/chinh-sach-bao-hanh">Chính sách bảo hành</a></li>
                  </ul>
               </div>
               <div class="col-xs-6 col-sm-6 col-md-3">
                  <h3 class="title-f">Tại sao chọn chúng tôi</h3>
                  <ul class="list-f">
                     <li><a href="https://megashop-1.bizwebvietnam.net/doi-ngu-chuyen-nghiep">Đội ngũ chuyên nghiệp</a></li>
                     <li><a href="https://megashop-1.bizwebvietnam.net/gia-ca-hop-ly">Giá cả hợp lý</a></li>
                     <li><a href="https://megashop-1.bizwebvietnam.net/kinh-nghiem-tren-20-nam">Kinh nghiệm trên 20 năm</a></li>
                     <li><a href="https://megashop-1.bizwebvietnam.net/dam-bao-tien-do">Đảm bảo tiến độ</a></li>
                  </ul>
               </div>
            </div>
         </div>
         <div class="copy text-center">
            © Bản quyền thuộc về Gold River | Cung cấp bởi <a href="https://www.bizweb.vn/?utm_source=site-khach-hang&utm_campaign=referral_bizweb&utm_medium=footer&utm_content=cung-cap-boi-bizweb">Bizweb</a>					
         </div>
      </div>
   </div>
   <!-- 		<link href='assets/owl.carousel.css.css' rel='stylesheet' type='text/css' />
      <link href='assets/jgrowl.css.css' rel='stylesheet' type='text/css' />
      <link href='../fonts.googleapis.com/css%3Ffamily=Poppins:400,700,500,600.css' rel='stylesheet' type='text/css'>
      
      
      
      <script src='assets/jgrowl.js' type='text/javascript'></script>
      
      <script src='assets/owl.carousel.js' type='text/javascript'></script>
      <script src='assets/sliderproduct.js' type='text/javascript'></script>
      
      
      
      
      
      
      <link href='assets/font-awesome.css.css' rel='stylesheet' type='text/css' />
      <link href='assets/jquery.fancybox.css.css' rel='stylesheet' type='text/css' />
      <script src='assets/jquery.fancybox.js' type='text/javascript'></script> -->
   <script>
      var ProductReviewsAppUtil=ProductReviewsAppUtil || {};
   </script>
   <!-- <link href='assets/iwish.css.css' rel='stylesheet' type='text/css' />
      <link rel="stylesheet" href="assets/bizweb-cff-quick-view.css.css">
      <link rel="stylesheet" href="assets/bizweb-cff-jquery.fancybox.css.css"> -->
   <script>
      var iwish_template='index';
      var iwish_cid=parseInt('0',10);
   </script>
   <!-- <script src='assets/iwishheader.js' type='text/javascript'></script> -->
   <style>
      .cd-container {
      width: 90%;
      max-width: 768px;
      margin: 2em auto;
      }
      .cd-container::after {
      /* clearfix */
      content: '';
      display: table;
      clear: both;
      }
      .cd-top {
      display: inline-block;
      height: 40px;
      width: 40px;
      position: fixed;
      bottom: 40px;
      right: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
      /* image replacement properties */
      overflow: hidden;
      text-indent: 100%;
      white-space: nowrap;
      background: rgb(246, 157, 110) url(assets/cd-top-arrow.svg) no-repeat center 50%;
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity .3s 0s, visibility 0s .3s;
      -moz-transition: opacity .3s 0s, visibility 0s .3s;
      transition: opacity .3s 0s, visibility 0s .3s;
      z-index: 999;
      }
      .cd-top.cd-is-visible, .cd-top.cd-fade-out, .no-touch .cd-top:hover {
      -webkit-transition: opacity .3s 0s, visibility 0s 0s;
      -moz-transition: opacity .3s 0s, visibility 0s 0s;
      transition: opacity .3s 0s, visibility 0s 0s;
      }
      .cd-top.cd-is-visible {
      /* the button becomes visible */
      visibility: visible;
      opacity: 1;
      }
      .cd-top.cd-fade-out {
      opacity: .7;
      z-index: 99999;
      }
      .no-touch .cd-top:hover {
      background-color: #e86256;
      opacity: 1;
      }
      @media only screen and (min-width: 768px) {
      .cd-top {
      right: 20px;
      bottom: 20px;
      }
      }
      @media only screen and (min-width: 1024px) {
      .cd-top {
      height: 60px;
      width: 60px;
      right: 30px;
      bottom: 30px;
      }
      }
   </style>
   <a href="index.html#0" class="cd-top">Top</a>
   <script>
      jQuery(document).ready(function($){
      	// browser window scroll (in pixels) after which the "back to top" link is shown
      	var offset = 300,
      		//browser window scroll (in pixels) after which the "back to top" link opacity is reduced
      		offset_opacity = 1200,
      		//duration of the top scrolling animation (in ms)
      		scroll_top_duration = 700,
      		//grab the "back to top" link
      		$back_to_top = $('.cd-top');
      
      	//hide or show the "back to top" link
      	$(window).scroll(function(){
      		( $(this).scrollTop() > offset ) ? $back_to_top.addClass('cd-is-visible') : $back_to_top.removeClass('cd-is-visible cd-fade-out');
      		if( $(this).scrollTop() > offset_opacity ) { 
      			$back_to_top.addClass('cd-fade-out');
      		}
      	});
      
      	//smooth scroll to top
      	$back_to_top.on('click', function(event){
      		event.preventDefault();
      		$('body,html').animate({
      			scrollTop: 0 ,
      		}, scroll_top_duration
      							  );
      	});
      
      });
   </script> <!-- Gem jQuery -->
   <!-- 		<script src='../bizweb.dktcdn.net/assets/themes_support/option-selectors.js%3F4' type='text/javascript'></script>
      <script src='assets/bootstrap.min.js' type='text/javascript'></script>
      <script src='assets/api.jquery.js' type='text/javascript'></script>
      <script src='assets/jquery.easing.1.3.js' type='text/javascript'></script>
      <script src='assets/ajax-cart.js' type='text/javascript'></script> -->
   <script type="text/javascript">
      Bizweb.updateCartFromForm = function(cart, cart_summary_id, cart_count_id) {
        if ((typeof cart_summary_id) === 'string') {
          var cart_summary = jQuery('#' + cart_summary_id);
          if (cart_summary.length) {
        
            cart_summary.empty();
            
            jQuery.each(cart, function(key, value) {
              if (key === 'items') {
                
                if (value.length) {
                  jQuery('<ul id="cart-sidebar" class="mini-products-list"></ul>').appendTo(cart_summary);
                  var table = jQuery('#' + cart_summary_id + ' ul');
      
                  jQuery.each(value, function(i, item) {						
                    jQuery('<li class="cart_img"><a class="product-imgcart" href="https://megashop-1.bizwebvietnam.net/'&#32;+&#32;item.url&#32;+&#32;'" ><img src="https://megashop-1.bizwebvietnam.net/'&#32;+&#32;Bizweb.resizeImage(item.image,"small") + '" width="80"></a><div class="product-details"><p class="product-name"> <a href="https://megashop-1.bizwebvietnam.net/'&#32;+&#32;item.url&#32;+&#32;'">' + item.name + ' </a> </p><span class="soluong_cart">' + item.quantity + '</span><span class="price_cart">' + Bizweb.formatMoney(item.price, "{{amount_no_decimals_with_comma_separator}}₫") + '</span><a href="javascript:void(0);"  onClick="Bizweb.removeItem(' + item.variant_id + ')" class="fa fa-times">&nbsp;</a> </div><div class="clearfix"></div></li>').appendTo(table);
                  });
      
                  jQuery('<div class="top-subtotal">Tổng tiền: <span class="price_total_cart">' + Bizweb.formatMoney(cart.total_price, "{{amount_no_decimals_with_comma_separator}}₫") + '</span></div>').appendTo(cart_summary);
      	  
      	 jQuery('<div class="actions"><button onClick="window.location.href=\'/checkout\'" class="btn-checkout" type="button"><span>Thanh toán</span></button><button onClick="window.location.href=\'/cart\'" class="view-cart" type="button"><span>Giỏ hàng</span></button>').appendTo(cart_summary);
                }
      	  
                else {
                  jQuery('<div><br><center>Giỏ hàng của bạn hiện đang trống.</center><br></div>').appendTo(cart_summary);
                }
              }
            });
          }
        }
        if ((typeof cart_count_id) === 'string') {
          if (cart.item_count == 0) { 
            jQuery('#' + cart_count_id).html('0'); 
          }
          else if (cart.item_count == 1) {
            jQuery('#' + cart_count_id).html('1');
          }
            else {
              jQuery('#' + cart_count_id).html(cart.item_count);
            }
        }
        updateCartDesc(cart);
        jQuery('[name=currencies]').change();
      };
      
      function updateCartDesc(data){
        var $cartLinkText = $('#cart-total');    
        switch(data.item_count){
          case 0:
            $cartLinkText.text('0');
            break;
          case 1:
            $cartLinkText.text('1');
            break;
          default:
            $cartLinkText.text(data.item_count);
            break;
        }
      }
      Bizweb.onCartUpdate = function(cart) {
        Bizweb.updateCartFromForm(cart, 'cart-info', 'shopping-cart');
      };
      jQuery(document).ready(function($) {
        Bizweb.getCart(function(cart) {      
          Bizweb.updateCartFromForm(cart, 'cart-info');		
        });
      });
   </script>
   <!-- <script src='assets/iwish.js' type='text/javascript'></script> -->
   <div id="biz-qv-showqv" style="display: none !important;">
      <div itemscope itemtype="http://schema.org/Product">
         <!--START PRODUCT-->
         <div class="quick-view-container fancyox-view-detail">
            <div id="biz-qv-left" class="biz-left">
               <div id="biz-qv-sale"  class="biz-qv-sale biz-qv-hidden">Sale</div>
               <!-- START ZOOM IMAGE-->
               <div class="biz-qv-zoom-container">
                  <div class="zoomWrapper">
                     <div id="biz-qv-zoomcontainer" class='sqa-qv-zoomcontainer'>
                        <!-- Main image  ! DON'T PUT CONTENT HERE! -->     
                     </div>
                  </div>
               </div>
               <!-- END ZOOM IMAGE-->
               <!-- START GALLERY-->
               <div id="biz-qv-galleryid" class="biz-qv-gallery" style="position: absolute; bottom: 10px;left: 6%;">
                  <!-- Collection of image ! DON'T PUT CONTENT HERE!-->
               </div>
               <!-- END GALLERY-->
            </div>
            <!--START BUY-->
            <div id ="biz-qv-right" class="biz-right">
               <!-- -------------------------- -->
               <div id="biz-qv-title" class="name-title" >
                  <!-- Title of product ! DON'T PUT CONTENT HERE!-->
               </div>
               <!-- -------------------------- -->
               <div id ="biz-qv-price-container" class="biz-qv-price-container"  >
                  <!-- price information of product ! DON'T PUT CONTENT HERE!-->
               </div>
               <!-- -------------------------- -->
               <div id="biz-qv-des" class="biz-qv-row">
                  <!-- description of product ! DON'T PUT CONTENT HERE!-->
               </div>
               <!-- -------------------------- -->
               <div class="biz-qv-row">
                  <a id="biz-qv-detail"  href="index.html" >  </a>
               </div>
               <!-- ----------------------------------------------------------------------- -->
               <div id='biz-qv-cartform'>
                  <form id="biz-qv-add-item-form"  method="post">
                     <!-- Begin product options ! DON'T PUT CONTENT HERE!-->
                     <div class="biz-qv-product-options">
                        <!-- -------------------------- -->
                        <div id="biz-qv-variant-options" class="biz-qv-optionrow">
                           <!-- variant options  of product  ! DON'T PUT CONTENT HERE!-->
                        </div>
                        <!-- -------------------------- -->
                        <div class="biz-qv-optionrow">	    
                           <label>Số lượng</label>
                           <input id="biz-qv-quantity" min="1" type="number" name="quantity" value="1"  />
                        </div>
                        <!-- -------------------------- -->
                        <div class="biz-qv-optionrow">
                           <p id="biz-qv-unavailable" class="biz-sold-out biz-qv-hidden">Không sẵn có</p>
                           <p id="biz-qv-sold-out" class="biz-sold-out biz-qv-hidden">Hết hàng</p>
                           <input type="submit" class="biz-qv-cartbtn biz-qv-hidden" value="Thêm vào giỏ hàng" />
                        </div>
                        <!-- -------------------------- -->					
                     </div>
                     <!-- End product options -->
                  </form>
               </div>
            </div>
            <!--END BUY-->
         </div>
         <!--END PRODUCT-->
      </div>
   </div>
</body>