<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style= "color: wheat; padding: 10px;">Tiến Thường </a>
    </div>
    <div class="container">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="/admin/products">Sản Phẩm</a></li>
        <li><a href="/admin/categories">Danh Mục</a></li>
      </ul>
    </div>

  </div>
</nav>